<!-- about section start -->
<div id="about-section-v5" class="menu-item relative z-40 xl:w-36 w-0 h-full xl:duration-1000 overflow-hidden"
    data-section-id="about-section-v5">
    <div
        class="menu-link flex relative z-40 items-center justify-between -rotate-180 w-full h-full writing-mode-vertical-rl py-6 cursor-pointer bg-accent20">
        <h2 class="text-dark">ABOUT</h2>
        <button
            class="xxl:size-15 xl:size-12 lg:size-10 size-9 xxl:text-2xl xl:text-xl lg:text-lg text-base text-light bg-dark rounded-full">
            <i class="hgi-stroke hgi-arrow-down-left-01"></i>
        </button>
    </div>
    <div
        class="overlay-v5 overlay-prev w-full h-full absolute top-0 left-0 z-30 transition-all duration-500 delay-300 translate-x-0 bg-accent20">
    </div>
    <div
        class="overlay-v5 overlay-next w-full h-full absolute top-0 right-0 z-30 transition-all duration-1000 delay-1000 translate-x-full bg-accent21">
    </div>

    <!-- about content -->
    <div class="menu-content transition-all duration-0 opacity-0 hidden xxxl:p-15 xl:p-12 lg:p-10 md:p-8 sm:p-6 p-4">
        <!-- title -->
        <div class="lg:mb-15 md:mb-10 mb-8 relative">
            <div class="flex items-center justify-between flex-wrap lg:mb-5 mb-3">
                <span
                    class="text-sm xl:px-3 px-2 py-1.5 text-dark dark:text-light border-[0.5px] border-dark dark:border-light rounded-full">
                    ABOUT US
                </span>
                <a href="mailto:xyz@example.com"
                    class="flex items-center gap-2 xl:py-3 xs:py-2 py-1.5 xl:px-6 xs:px-4 px-2.5 rounded-full bg-primary text-light text-base xl:text-lg group/btn">
                    Contact Me
                    <span class="flex xl:text-2xl text-xl duration-500 group-hover/btn:rotate-90">
                        <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                    </span>
                </a>
            </div>
            <h2 class="display-1 leading-none text-dark dark:text-light mb-2">
                <span>Product</span>
                <span class="text-accent1 font-normal">Designer </span>
                <span class="xs:block">& Developer</span>
            </h2>
            <span class="text-lg xl:text-xl xxl:text-2xl text-dark dark:text-light">
                New York, USA
            </span>
        </div>

        <!-- counter -->
        <div class="grid sm:grid-cols-3 xs:grid-cols-2 grid-cols-1 gap-6 lg:mb-20 md:mb-15 mb-10">
            <div class="col-span-1">
                <h2 class="flex display-4 font-normal text-accent1">
                    <span class="odometer text-nowrap font-satoshi font-semibold" data-odometer-final="06"></span>
                </h2>
                <span class="md:text-base text-sm text-neutral11 dark:text-neutral3 block">
                    YEARS EXPERIENCE
                </span>
            </div>
            <div class="col-span-1">
                <h2 class="flex display-4 font-normal text-accent2">
                    <span>+</span>
                    <span class="odometer text-nowrap font-satoshi font-semibold" data-odometer-final="145"></span>
                </h2>
                <span class="md:text-base text-sm text-neutral11 dark:text-neutral3 block">
                    TOTAL PROJECTS
                </span>
            </div>
            <div class="col-span-1">
                <h2 class="flex display-4 font-normal text-accent1">
                    <span>+</span>
                    <span class="odometer text-nowrap font-satoshi font-semibold" data-odometer-final="129"></span>
                </h2>
                <span class="md:text-base text-sm text-neutral11 dark:text-neutral3 block">
                    CLIENTS WORLDWIDE
                </span>
            </div>
        </div>

        <!-- ABOUT US -->
        <div class="flex flex-col xxl:gap-15 xl:gap-10 lg:gap-8 gap-6 4xl:w-[70%]">
            <div>
                <h2 class="text-h1 text-dark dark:text-light lg:mb-4 mb-3">
                    Every brilliant design is rooted in a compelling story.
                </h2>
                <p class="text-base lg:text-xl text-neutral11 dark:text-neutral2 font-thin">
                    Bringing your creative ideas to life with stunning portfolios that showcase your vision
                    and style.
                </p>
            </div>
            <div class="flex sm:flex-row flex-col xxxl:gap-15 xxl:gap-10 xl:gap-8 lg:gap-6 gap-4">
                <div>
                    <h3 class="text-dark dark:text-light lg:mb-3 mb-2">My Ambition</h3>
                    <p class=" text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                        My ambition is to continually grow, pushing the boundaries of creativity and
                        while delivering impactful solutions that make a difference.
                    </p>
                </div>
                <div>
                    <h3 class="text-dark dark:text-light lg:mb-3 mb-2">My Purpose</h3>
                    <p class=" text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                        My purpose is to inspire, create, and innovate in ways that positively
                        impact
                        the world, empowering others through design and technology.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- about section end -->