<!-- about section start -->
<div id="about-section-v8"
    class="menu-item xl:w-20 w-0 h-full xl:border-l border-neutral3/40 dark:border-neutral3 xl:duration-500 overflow-hidden overflow-y-auto"
    data-section-id="home-section-v8">
    <div
        class="menu-link flex items-center justify-between -rotate-180 w-full h-full writing-mode-vertical-rl py-6 cursor-pointer">
        <span class="text-base text-dark dark:text-light">ABOUT</span>
        <span class="text-base text-dark dark:text-light">02</span>
    </div>
    <!-- about content -->
    <div class="menu-content hidden 4xl:px-15 xxxl:px-10 xxl:px-8 lg:px-6 md:px-4 px-2">
        <!-- page title stroke -->
        <span
            class="block leading-none text-stroke-2 text-stroke-neutral3 text-transparent font-bold opacity-20 text-[60px] xs:text-[50px] sm:text-[50px] md:text-[60px] lg:text-[80px] xl:text-[100px] xxl:text-[140px] xxxl:text-[160px] 4xl:text-[180px] w-full text-center">
            ABOUT FEDE
        </span>
        <!-- content -->
        <div class="flex justify-between md:flex-row flex-col gap-6 my-8">

            <div class="md:w-1/2 w-full">
                <div class="flex flex-col justify-around md:items-start items-center gap-6 h-full">
                    <div>
                        <span class="block text-base xl:text-lg text-dark dark:text-light mb-3">
                            MY NAME IS ROBERT FOX
                        </span>
                        <h2 class="display-4 text-dark dark:text-light lg:mb-5 mb-3">
                            Products Designer
                            <span class="xs:block">& Developer</span>
                        </h2>
                        <span class="block text-base lg:text-lg xl:text-xl text-dark dark:text-light">
                            New York, USA
                        </span>
                    </div>
                    <div class="flex items-center flex-wrap gap-4">
                        <a href="#"
                            class="btn text-light dark:text-dark bg-dark dark:bg-light rounded-none duration-500 hover:text-dark dark:hover:text-light box-hover before:bg-light dark:before:bg-dark border border-dark dark:border-light">
                            Hire Me
                        </a>
                        <a href="#"
                            class="btn border border-neutral3/40 text-dark dark:text-light rounded-none duration-500 hover:text-light dark:hover:text-dark box-hover before:bg-dark dark:before:bg-light">
                            Download CV
                        </a>
                    </div>
                </div>
            </div>

            <!-- counter -->
            <div class="md:w-1/2 w-full">
                <div class="flex flex-col md:items-end items-center">
                    <div class="flex">
                        <div
                            class="f-center p-3 bg-light dark:bg-dark border border-neutral3/20 rounded-full xxxl:h-[250px] xl:h-[220px] sm:h-[200px] h-[160px] xxxl:w-[250px] xl:w-[220px] sm:w-[200px] w-[160px] relative z-10 overflow-hidden before:transition-all before:duration-500 before:absolute before:top-0 before:left-0 before:bg-dark dark:before:bg-light lg:before:w-12 before:w-10 lg:before:h-12 before:h-10 hover:before:w-full hover:before:h-full before:rounded-full before:-z-10 group/counter">
                            <div>
                                <h2
                                    class="f-center display-4 text-dark dark:text-light group-hover/counter:text-light group-hover/counter:dark:text-dark">
                                    <span class="odometer text-nowrap font-satoshi" data-odometer-final="06"></span>
                                </h2>
                                <span
                                    class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block group-hover/counter:text-neutral3 group-hover/counter:dark:text-neutral11">
                                    YEARS EXPERIENCE
                                </span>
                            </div>
                        </div>
                        <div
                            class="f-center p-3 bg-light dark:bg-dark border border-neutral3/20 rounded-full xxxl:h-[250px] xl:h-[220px] sm:h-[200px] h-[160px] xxxl:w-[250px] xl:w-[220px] sm:w-[200px] w-[160px] relative z-10 overflow-hidden before:transition-all before:duration-500 before:absolute before:bottom-0 before:left-0 before:bg-dark dark:before:bg-light lg:before:w-12 before:w-10 lg:before:h-12 before:h-10 hover:before:w-full hover:before:h-full before:rounded-full before:-z-10 group/counter -ml-6">
                            <div>
                                <h2
                                    class="f-center display-4 text-dark dark:text-light group-hover/counter:text-light group-hover/counter:dark:text-dark">
                                    <span class="odometer text-nowrap font-satoshi" data-odometer-final="4.5"></span>
                                    <span>K+</span>
                                </h2>
                                <span
                                    class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block group-hover/counter:text-neutral3 group-hover/counter:dark:text-neutral11">
                                    TOTAL PROJECTS
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="flex -mt-6">
                        <div
                            class="f-center p-3 bg-light dark:bg-dark border border-neutral3/20 rounded-full xxxl:h-[250px] xl:h-[220px] sm:h-[200px] h-[160px] xxxl:w-[250px] xl:w-[220px] sm:w-[200px] w-[160px] relative z-10 overflow-hidden before:transition-all before:duration-500 before:absolute before:top-0 before:right-0 before:bg-dark dark:before:bg-light lg:before:w-12 before:w-10 lg:before:h-12 before:h-10 hover:before:w-full hover:before:h-full before:rounded-full before:-z-10 group/counter">
                            <div>
                                <h2
                                    class="f-center display-4 text-dark dark:text-light group-hover/counter:text-light group-hover/counter:dark:text-dark">
                                    <span class="odometer text-nowrap font-satoshi" data-odometer-final="2.9"></span>
                                    <span>K</span>
                                </h2>
                                <span
                                    class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block group-hover/counter:text-neutral3 group-hover/counter:dark:text-neutral11">
                                    CLIENTS WORLDWIDE
                                </span>
                            </div>
                        </div>
                        <div
                            class="f-center p-3 bg-light dark:bg-dark border border-neutral3/20 rounded-full xxxl:h-[250px] xl:h-[220px] sm:h-[200px] h-[160px] xxxl:w-[250px] xl:w-[220px] sm:w-[200px] w-[160px] relative z-10 overflow-hidden before:transition-all before:duration-500 before:absolute before:bottom-0 before:right-0 before:bg-dark dark:before:bg-light lg:before:w-12 before:w-10 lg:before:h-12 before:h-10 hover:before:w-full hover:before:h-full before:rounded-full before:-z-10 group/counter -ml-6">
                            <div>
                                <h2
                                    class="f-center display-4 text-dark dark:text-light group-hover/counter:text-light group-hover/counter:dark:text-dark">
                                    <span class="odometer text-nowrap font-satoshi" data-odometer-final="95"></span>
                                    <span>+</span>
                                </h2>
                                <span
                                    class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block group-hover/counter:text-neutral3 group-hover/counter:dark:text-neutral11">
                                    AWARDS ACHIEVEMENT
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- experience and education -->
        <div
            class="flex sm:flex-nowrap flex-wrap 4xl:gap-15 xxxl:gap-12 xl:gap-10 lg:gap-8 gap-6 xl:pb-10 md:pb-8 pb-6">
            <div class="flex flex-col lg:gap-6 gap-4">
                <h5 class="text-dark dark:text-light font-normal underline underline-offset-8 underline-thickness-1">
                    EXPERIENCE</h5>
                <div class="flex flex-col gap-1">
                    <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                        2007 - 2017
                    </span>
                    <span class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium">
                        Framer Designer & Developer
                    </span>
                    <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                        Bluebase Designs
                    </span>
                </div>
                <div class="flex flex-col gap-1">
                    <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                        2017 - 2023
                    </span>
                    <span class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium">
                        Front-End Developer
                    </span>
                    <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                        Larsen & Toubro
                    </span>
                </div>
            </div>
            <div class="flex flex-col lg:gap-6 gap-4">
                <h5 class="text-dark dark:text-light font-normal underline underline-offset-8 underline-thickness-1">
                    EDUCATION</h5>
                <div class="flex flex-col gap-1">
                    <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                        2004 - 2007
                    </span>
                    <span class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium">
                        Bachelor Degree in Computer.
                    </span>
                    <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                        University of California
                    </span>
                </div>
                <div class="flex flex-col gap-1">
                    <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                        2007 - 2009
                    </span>
                    <span class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium">
                        Master Degree in Web Development
                    </span>
                    <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                        University of Texas
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->