<!-- ABOUT US -->
<div class="flex flex-col xl:gap-12 lg:gap-10 md:gap-8 gap-6" data-aos="fade-up">
    <div>
        <span
            class="text-sm xl:px-3 px-2 py-1.5 text-neutral11/80 dark:text-neutral3/80 border-[0.5px] border-neutral3 dark:border-neutral3/60 rounded-full inline-block lg:mb-5 mb-3">
            ABOUT US
        </span>
        <h2 class="text-h1 leading-none text-dark dark:text-light lg:mb-4 mb-3 cursor-effect-medium">
                Transforming visions into exceptional portfolios
        </h2>
        <p class="text-base lg:text-xl text-neutral11 dark:text-neutral2 font-thin">
            Bringing your creative ideas to life with stunning portfolios that showcase your vision and
            style.
        </p>
    </div>
    <div class="flex xl:flex-row flex-col xxxl:gap-15 xxl:gap-10 xl:gap-8 lg:gap-6 gap-4">
        <div>
            <h3 class="text-dark dark:text-light lg:mb-3 mb-2">My Ambition</h3>
            <p class=" text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                My ambition is to continually grow, pushing the boundaries of creativity and
                while delivering impactful solutions that make a difference.
            </p>
        </div>
        <div>
            <h3 class="text-dark dark:text-light lg:mb-3 mb-2">My Purpose</h3>
            <p class=" text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                My purpose is to inspire, create, and innovate in ways that positively
                impact
                the world, empowering others through design and technology.
            </p>
        </div>
    </div>
</div>