<!-- article details popup -->
<div id="article-popup"
    class="popup fixed top-0 left-0 bottom-0 z-50 p-3 w-full h-full bg-neutral3/60 dark:bg-neutral12/80 backdrop-blur-3xl overflow-hidden hidden">
    <div
        class="popup-content max-w-[1400px] bg-white dark:bg-dark w-full h-full mx-auto rounded-lg 4xl:px-15 xl:px-10 lg:px-8 sm:px-6 p-4 overflow-hidden overflow-y-auto">
        <!-- popup close btn -->
        <div class="flex justify-end mb-3">
            <button
                class="close-popup 4xl:size-15 xxxl:size-13 xxl:size-11 size-9 xl:text-2xl lg:text-xl text-lg text-dark dark:text-light border border-neutral3/40 rounded-full flex items-center justify-center box-hover before:bg-primary">
                <i class="hgi-stroke hgi-cancel-01"></i>
            </button>
        </div>

        <!-- content -->
        <!-- article details -->
        <div class="grid grid-cols-12 xxl:gap-10 xl:gap-8 lg:gap-6 gap-4">
            <div class="lg:col-span-8 col-span-12">
                <div class="lg:mb-6 mb-4">
                    <!-- blog details banner -->
                    <div class="lg:mb-6 mb-4" data-aos="fade-up">
                        <img class="popup-post-banner w-full h-full object-cover rounded-xl"
                            src="assets/images/blog-details-banner.webp" alt="banner">
                    </div>
                    <!-- blog details meta -->
                    <div class="flex items-center justify-between gap-4 lg:mb-6 mb-4">
                        <div class="flex items-center gap-1">
                            <a href="#"
                                class="text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin duration-300 hover:text-primary dark:hover:text-primary">
                                John Cashman
                            </a>
                            <span class="flex text-neutral11 dark:text-neutral2 text-lg lg:text-xl">
                                <i class="ph ph-dot"></i></span>
                            <a href="#"
                                class="text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin duration-300 hover:text-primary dark:hover:text-primary">
                                in Hardware
                            </a>
                        </div>
                        <span class="text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                            Sep 02,2024
                        </span>
                    </div>
                    <div class="w-full h-[1px] bg-neutral3 opacity-50"></div>
                </div>

                <!-- blog details content -->
                <div class="flex flex-col lg:gap-3 gap-2 lg:mb-12 md:mb-10 mb-8">
                    <h2 class="text-dark dark:text-light">
                        Designing complex products from scratch
                    </h2>
                    <p class="text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                        Begin each blog post with a brief introduction that outlines the topic, such as
                        sharing your latest design projects, discussing industry trends, or reflecting
                        on creative processes. This intro should give readers a snapshot of what to
                        expect and why the post is valuable.
                    </p>
                    <p class="text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                        Each post should dive into specifics, such as a project breakdown, tips for
                        overcoming creative blocks, or a rundown of the tools and techniques you use.
                        For example:
                    </p>
                </div>

                <div class="flex flex-col lg:gap-3 gap-2 lg:mb-12 md:mb-10 mb-8">
                    <h3 class="text-dark dark:text-light">
                        Visual Elements and Examples
                    </h3>
                    <p class="text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                        Include visuals like screenshots, design mockups, or step-by-step workflows.
                        This makes it easier for readers to grasp complex concepts and see real-life
                        applications of your skills. Share your perspective on minimalism and how you
                        incorporate this approach into your projects.
                    </p>
                </div>

                <div class="flex flex-col lg:gap-3 gap-2 lg:mb-12 md:mb-10 mb-8">
                    <h4 class="text-dark dark:text-light">
                        Personal Reflections and Lessons Learned
                    </h4>
                    <p class="text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                        Add a personal touch by reflecting on each project’s unique challenges, what you
                        learned, and how it shapes your approach moving forward.
                    </p>
                </div>

                <div class="lg:py-6 py-4 lg:px-8 px-6 bg-neutral4 rounded-xl lg:mb-12 md:mb-10 mb-8">
                    <p class="text-dark text-center text-lg lg:text-xl font-normal">
                        Ensure your website is easy to navigate. Use a clear and intuitive menu
                        structure that makes it effortless for visitors to find the information they are
                        animations that may distract from your work.
                    </p>
                </div>

                <div class="flex flex-col lg:gap-3 gap-2 lg:mb-12 md:mb-10 mb-8">
                    <h5 class="text-dark dark:text-light">
                        Responsive Design
                    </h5>
                    <p class="text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                        Encourage readers to connect with you, whether through social media, comments,
                        or a contact form on your site. This engagement helps build a community around
                        your work and
                        enhances your online presence.
                    </p>
                    <ul class="flex flex-col lg:gap-3 gap-2">
                        <li class="flex items-center gap-3">
                            <span class="flex lg:text-xl text-lg text-dark dark:text-neutral1">
                                <i class="ph ph-checks"></i>
                            </span>
                            <span class="lg:text-lg text-base text-neutral11 dark:text-neutral2">Include key
                                features of the
                                project and highlight its importance. </span>
                        </li>
                        <li class="flex items-center gap-3">
                            <span class="flex lg:text-xl text-lg text-dark dark:text-neutral1">
                                <i class="ph ph-checks"></i>
                            </span>
                            <span class="lg:text-lg text-base text-neutral11 dark:text-neutral2">Summarize
                                the target
                                audience and expected outcomes of the project. </span>
                        </li>
                        <li class="flex items-center gap-3">
                            <span class="flex lg:text-xl text-lg text-dark dark:text-neutral1">
                                <i class="ph ph-checks"></i>
                            </span>
                            <span class="lg:text-lg text-base text-neutral11 dark:text-neutral2">Discuss any
                                the project
                                execution and how they were overcome. </span>
                        </li>
                    </ul>
                </div>

                <div class="flex flex-col lg:gap-3 gap-2">
                    <h6 class="text-dark dark:text-light">
                        About Me Page
                    </h6>
                    <p class="text-neutral11 dark:text-neutral2 text-base lg:text-lg font-thin">
                        Include an About Me page that provides insight into who you are professionally
                        and personally. Share your background, skills, and what sets you apart.
                        Personalize your story to connect with your
                        audience on a deeper level.
                    </p>
                </div>
            </div>

            <div class="lg:col-span-4 col-span-12">
                <div
                    class="4xl:p-8 xl:p-6 p-4 border border-neutral5 dark:border-neutral8 border-opacity-20 rounded-xl">
                    <!-- profile image -->
                    <div class="lg:mb-6 mb-4 bg-neutral2 dark:bg-neutral9 lg:rounded-xl rounded-full max-w-[400px] w-full max-h-[400px] h-full overflow-hidden mx-auto"
                        data-aos="fade-up">
                        <img class="w-full h-full object-cover rounded-xl" src="./assets/images/profile-image-9.webp"
                            alt="profile image">
                    </div>

                    <div class="lg:mb-8 mb-6" data-aos="fade-up">
                        <h3 class="text-dark dark:text-neutral1 mb-2">
                            Robert Fox
                        </h3>
                        <p class="text-dark dark:text-neutral1 text-base font-thin">
                            Full-stack Developer
                        </p>
                    </div>

                    <div class="lg:mb-8 mb-6" data-aos="fade-up">
                        <h5 class="text-dark dark:text-neutral1 lg:mb-4 mb-3">
                            Recommended Topics
                        </h5>
                        <ul class="flex gap-2 flex-wrap">
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center py-1.5 px-3 text-base text-dark dark:text-neutral1 font-thin border border-neutral5 dark:border-neutral11 rounded-full hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                    Fintech
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center py-1.5 px-3 text-base text-dark dark:text-neutral1 font-thin border border-neutral5 dark:border-neutral11 rounded-full hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                    Agency
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center py-1.5 px-3 text-base text-dark dark:text-neutral1 font-thin border border-neutral5 dark:border-neutral11 rounded-full hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                    Clean
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center py-1.5 px-3 text-base text-dark dark:text-neutral1 font-thin border border-neutral5 dark:border-neutral11 rounded-full hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                    Freelancer
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center py-1.5 px-3 text-base text-dark dark:text-neutral1 font-thin border border-neutral5 dark:border-neutral11 rounded-full hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                    Resume
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center py-1.5 px-3 text-base text-dark dark:text-neutral1 font-thin border border-neutral5 dark:border-neutral11 rounded-full hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                    Responsive
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center py-1.5 px-3 text-base text-dark dark:text-neutral1 font-thin border border-neutral5 dark:border-neutral11 rounded-full hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                    Modem
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="lg:mb-8 mb-6" data-aos="fade-up">
                        <div class="lg:mb-4 mb-3">
                            <h5 class="text-dark dark:text-neutral1 mb-2">
                                Subscribe to Portilo
                            </h5>
                            <p class="text-dark dark:text-neutral1 lg:text-lg text-base font-thin">
                                Sign up now to get access to the library of members-only issues.
                            </p>
                        </div>
                        <form action="#" class="subscrip-form flex flex-col gap-2">
                            <input type="email" name="email" placeholder="Your e-mail..." required
                                class="w-full text-base text-dark  dark:text-light border border-neutral2 border-opacity-30 rounded-md p-3 placeholder:text-neutral11 dark:placeholder:text-neutral2 placeholder:font-thin bg-neutral2 dark:bg-neutral11 focus:outline-none focus:ring-0">
                            <button type="submit"
                                class="btn text-light dark:text-dark bg-dark dark:bg-light rounded-lg">Subscribe</button>
                        </form>
                    </div>

                    <!-- profile social -->
                    <ul class="flex items-center justify-center 4xl:gap-2 gap-1" data-aos="fade-up">
                        <li>
                            <a href="#"
                                class="flex justify-center items-center 4xl:size-15 xxxl:size-12 lg:size-10 size-8 4xl:text-2xl xxxl:text-xl text-lg text-neutral11 dark:text-neutral1 rounded-full border border-neutral3/20 hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                <i class="ph ph-chat-text"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex justify-center items-center 4xl:size-15 xxxl:size-12 lg:size-10 size-8 4xl:text-2xl xxxl:text-xl text-lg text-neutral11 dark:text-neutral1 rounded-full border border-neutral3/20 hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                <i class="ph ph-dribbble-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex justify-center items-center 4xl:size-15 xxxl:size-12 lg:size-10 size-8 4xl:text-2xl xxxl:text-xl text-lg text-neutral11 dark:text-neutral1 rounded-full border border-neutral3/20 hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                <i class="ph ph-framer-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex justify-center items-center 4xl:size-15 xxxl:size-12 lg:size-10 size-8 4xl:text-2xl xxxl:text-xl text-lg text-neutral11 dark:text-neutral1 rounded-full border border-neutral3/20 hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                <i class="ph ph-envelope"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex justify-center items-center 4xl:size-15 xxxl:size-12 lg:size-10 size-8 4xl:text-2xl xxxl:text-xl text-lg text-neutral11 dark:text-neutral1 rounded-full border border-neutral3/20 hover:text-light hover:dark:text-dark box-hover before:bg-dark before:dark:bg-light">
                                <i class="ph ph-discord-logo"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- article details popup end -->