<!-- blog section start -->
<div id="blog-section-v8"
    class="menu-item xl:w-20 w-0 h-full xl:border-l border-neutral3/40 dark:border-neutral3 xl:duration-500 overflow-hidden overflow-y-auto"
    data-section-id="blog-section-v8">
    <div
        class="menu-link flex items-center justify-between -rotate-180 w-full h-full writing-mode-vertical-rl py-6 cursor-pointer">
        <span class="text-base text-dark dark:text-light">BLOG</span>
        <span class="text-base text-dark dark:text-light">06</span>
    </div>
    <!-- ARTICLES content -->
    <div class="menu-content hidden 4xl:px-15 xxxl:px-10 xxl:px-8 lg:px-6 md:px-4 px-2 ">
        <!-- page title stroke -->
        <span
            class="block leading-none text-stroke-2 text-stroke-neutral3 text-transparent font-bold opacity-20 text-[60px] xs:text-[50px] sm:text-[50px] md:text-[60px] lg:text-[80px] xl:text-[100px] xxl:text-[140px] xxxl:text-[160px] 4xl:text-[180px] w-full text-center">
            ARTICLES
        </span>
        <!-- content -->
        <div class="xl:mb-15 lg:mb-10 md:mb-8 mb-6">
            <span class="block text-base xl:text-lg text-dark dark:text-light mb-3">
                ARTICLES
            </span>
            <h2 class="display-4 text-dark dark:text-light lg:mb-5 mb-3">
                Latest web solutions and technologies
            </h2>
            <span class="block text-base lg:text-lg xl:text-xl text-dark dark:text-light">
                Cutting-edge tools, seamless integration.
            </span>
        </div>

        <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 gap-6 xl:pb-10 md:pb-8 pb-6">

            <div class="col-span-1 xl:p-6 p-4 border border-neutral3/40 dark:border-neutral11 rounded popup-btn"
                data-popup-id="article-popup">
                <div class="xl:mb-6 mb-4 cursor-pointer">
                    <img class="w-full h-full object-cover rounded" src="assets/images/article-post-thumb-7.webp"
                        alt="blog image">
                </div>
                <div>
                    <div class="flex items-center justify-center xl:gap-4 gap-2 flex-wrap mb-2">
                        <a href="#"
                            class="text-base text-dark dark:text-light duration-500 hover:text-primary dark:hover:text-primary">
                            John Cashman
                        </a>
                        <span class="text-base text-dark dark:text-light">.</span> <span
                            class="text-base text-dark dark:text-light">Sep 02,2024</span>
                    </div>
                    <h4
                        class="text-center text-dark dark:text-light duration-500 hover:text-primary dark:hover:text-primary cursor-pointer">
                        How designers estimate the impact of UX?
                    </h4>
                </div>
                <div class="text-center lg:mt-10 md:mt-8 mt-6">
                    <a href="#"
                        class="btn font-normal bg-transparent border border-neutral3 dark:border-light text-dark dark:text-light rounded duration-500 hover:bg-dark hover:text-light hover:dark:bg-light hover:dark:text-dark">Read
                        More</a>
                </div>
            </div>

            <div class="col-span-1 xl:p-6 p-4 border border-neutral3/40 dark:border-neutral11 rounded popup-btn"
                data-popup-id="article-popup">
                <div class="xl:mb-6 mb-4 cursor-pointer">
                    <img class="w-full h-full object-cover rounded" src="assets/images/article-post-thumb-8.webp"
                        alt="blog image">
                </div>
                <div>
                    <div class="flex items-center justify-center xl:gap-4 gap-2 flex-wrap mb-2">
                        <a href="#"
                            class="text-base text-dark dark:text-light duration-500 hover:text-primary dark:hover:text-primary">
                            John Cashman
                        </a>
                        <span class="text-base text-dark dark:text-light">.</span> <span
                            class="text-base text-dark dark:text-light">Sep 02,2024</span>
                    </div>
                    <h4
                        class="text-center text-dark dark:text-light duration-500 hover:text-primary dark:hover:text-primary cursor-pointer">
                        Designing complex products from scratch
                    </h4>
                </div>
                <div class="text-center lg:mt-10 md:mt-8 mt-6">
                    <a href="#"
                        class="btn font-normal bg-transparent border border-neutral3 dark:border-light text-dark dark:text-light rounded duration-500 hover:bg-dark hover:text-light hover:dark:bg-light hover:dark:text-dark">Read
                        More</a>
                </div>
            </div>
            <div class="col-span-1 xl:p-6 p-4 border border-neutral3/40 dark:border-neutral11 rounded popup-btn"
                data-popup-id="article-popup">
                <div class="xl:mb-6 mb-4 cursor-pointer">
                    <img class="w-full h-full object-cover rounded" src="assets/images/article-post-thumb-9.webp"
                        alt="blog image">
                </div>
                <div>
                    <div class="flex items-center justify-center xl:gap-4 gap-2 flex-wrap mb-2">
                        <a href="#"
                            class="text-base text-dark dark:text-light duration-500 hover:text-primary dark:hover:text-primary">
                            John Cashman
                        </a>
                        <span class="text-base text-dark dark:text-light">.</span> <span
                            class="text-base text-dark dark:text-light">Sep 02,2024</span>
                    </div>
                    <h4
                        class="text-center text-dark dark:text-light duration-500 hover:text-primary dark:hover:text-primary cursor-pointer">
                        How designers estimate the impact of UX?
                    </h4>
                </div>
                <div class="text-center lg:mt-10 md:mt-8 mt-6">
                    <a href="#"
                        class="btn font-normal bg-transparent border border-neutral3 dark:border-light text-dark dark:text-light rounded duration-500 hover:bg-dark hover:text-light hover:dark:bg-light hover:dark:text-dark">Read
                        More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog section end -->