<!-- contact section start -->
<div id="contact-section-v5" class="menu-item relative z-40 xl:w-36 w-0 h-full xl:duration-1000 overflow-hidden"
    data-section-id="contact-section-v5">
    <div
        class="menu-link flex relative z-40 items-center justify-between -rotate-180 w-full h-full writing-mode-vertical-rl py-6 cursor-pointer bg-accent24">
        <h2 class="text-dark">CONTACT</h2>
        <button
            class="xxl:size-15 xl:size-12 lg:size-10 size-9 xxl:text-2xl xl:text-xl lg:text-lg text-base text-light bg-dark rounded-full">
            <i class="hgi-stroke hgi-arrow-down-left-01"></i>
        </button>
    </div>
    <div
        class="overlay-v5 overlay-prev w-full h-full absolute top-0 left-0 z-30 transition-all duration-500 delay-300 translate-x-0 bg-accent24">
    </div>
    <div
        class="overlay-v5 overlay-next w-full h-full absolute top-0 right-0 z-30 transition-all duration-1000 delay-1000 translate-x-full bg-accent23">
    </div>

    <!-- CONTACT content -->
    <div
        class="menu-content transition-all duration-0 opacity-0 hidden h-full xxxl:p-15 xl:p-12 lg:p-10 md:p-8 sm:p-6 p-4">
        <div class="flex flex-col justify-between h-full">
            <div class="mb-4">
                <div class="flex items-center justify-between flex-wrap lg:mb-5 mb-3">
                    <span
                        class="text-sm xl:px-3 px-2 py-1.5 text-dark dark:text-light border-[0.5px] border-dark dark:border-light rounded-full">
                        CONTACT
                    </span>
                    <a href="mailto:xyz@example.com"
                        class="flex items-center gap-2 xl:py-3 xs:py-2 py-1.5 xl:px-6 xs:px-4 px-2.5 rounded-full bg-primary text-light text-base xl:text-lg group/btn">
                        Contact Me
                        <span class="flex xl:text-2xl text-xl duration-500 group-hover/btn:rotate-90">
                            <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                        </span>
                    </a>
                </div>
                <h2 class="display-2 text-dark dark:text-light mb-4">
                    Let's Get In Touch
                </h2>
                <span class="text-dark dark:text-light text-lg lg:text-xl xl:text-2xl">
                    Fill out the form opportunities and I'll do my best to respond to your inquiry within 24
                    hours.
                </span>
            </div>

            <!-- contact form -->
            <form action="#"
                class="flex flex-col lg:gap-6 gap-4 4xl:p-12 xl:p-10 lg:p-8 md:p-6 sm:p-4 p-3 bg-neutral2/40 dark:bg-neutral11/40 border border-neutral3/20 dark:border-neutral11/20 rounded-xl">
                <div class="flex md:flex-nowrap flex-wrap lg:gap-6 gap-4">
                    <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                        <label class="text-dark dark:text-light text-base font-normal">
                            FULL NAME *
                        </label>
                        <input type="text" name="name" placeholder="Your Full Name"
                            class="lg:py-3 py-2 lg:px-6 px-4 rounded-xl text-dark dark:text-light bg-light dark:bg-dark border border-neutral3/15 dark:border-neutral11 placeholder:text-neutral11 dark:placeholder:text-neutral3">
                    </div>
                    <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                        <label class="text-dark dark:text-light text-base font-normal">
                            EMAIL ADDRESS *
                        </label>
                        <input type="email" name="email" placeholder="Your Email Address"
                            class="lg:py-3 py-2 lg:px-6 px-4 rounded-xl text-dark dark:text-light bg-light dark:bg-dark border border-neutral3/15 dark:border-neutral11 placeholder:text-neutral11 dark:placeholder:text-neutral3">
                    </div>
                </div>
                <div class="flex md:flex-nowrap flex-wrap lg:gap-6 gap-4">
                    <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                        <label class="text-dark dark:text-light text-base font-normal">
                            PHONE NUMBER *
                        </label>
                        <input type="text" name="phone" placeholder="Your Phone Number"
                            class="lg:py-3 py-2 lg:px-6 px-4 rounded-xl text-dark dark:text-light bg-light dark:bg-dark border border-neutral3/15 dark:border-neutral11 placeholder:text-neutral11 dark:placeholder:text-neutral3">
                    </div>
                    <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                        <label class="text-dark dark:text-light text-base font-normal">
                            SUBJECT *
                        </label>
                        <input type="text" name="subject" placeholder="Subject"
                            class="lg:py-3 py-2 lg:px-6 px-4 rounded-xl text-dark dark:text-light bg-light dark:bg-dark border border-neutral3/15 dark:border-neutral11 placeholder:text-neutral11 dark:placeholder:text-neutral3">
                    </div>
                </div>
                <div class="flex flex-col lg:gap-3 gap-2">
                    <label class="text-dark dark:text-light text-base font-normal">
                        MESSAGE *
                    </label>
                    <textarea name="message" placeholder="Write Your Message Here...." rows="6"
                        class="lg:py-3 py-2 lg:px-6 px-4 rounded-xl text-dark dark:text-light bg-light dark:bg-dark border border-neutral3/15 dark:border-neutral11 placeholder:text-neutral11 dark:placeholder:text-neutral3"></textarea>
                </div>
                <button type="submit" class="btn w-full text-light bg-primary rounded-xl">
                    <span>Send Message</span>
                </button>
            </form>
        </div>
    </div>
</div>
<!-- contact section end -->