<!-- CONTACT -->
<div class="flex flex-col xl:gap-12 lg:gap-10 md:gap-8 gap-6" data-aos="fade-up">

    <div>
        <span
            class="text-sm xl:px-3 px-2 py-1.5 text-neutral11/80 dark:text-neutral3/80 border-[0.5px] border-neutral3 dark:border-neutral3/60 rounded-full inline-block lg:mb-5 mb-3">
            CONTACT
        </span>
        <h2 class="text-h1 text-dark dark:text-light lg:mb-4 mb-3 cursor-effect-medium">
                Let’s word a conversation
        </h2>
        <p class="text-base lg:text-xl text-neutral11 dark:text-neutral2 font-thin">
            Start a Conversation Today
        </p>
    </div>

    <div class="grid grid-cols-12 4xl:gap-12 xxxl:gap-10 xxl:gap-8 gap-6">
        <div class="xxl:col-span-6 col-span-12">
            <div class="flex items-center justify-between xs:flex-nowrap flex-wrap gap-3 lg:mb-8 mb-6">
                <div class="w-full">
                    <div
                        class="icon-60 text-h3 lg:mb-5 mb-3 text-neutral11 dark:text-neutral2 bg-neutral2 dark:bg-neutral12 mx-auto">
                        <i class="ph ph-phone"></i>
                    </div>
                    <div class="text-center">
                        <span class="block lg:text-lg text-base text-dark dark:text-neutral2 font-medium">Phone</span>
                        <a href="tel:3025550107" class="block text-base text-dark dark:text-light font-normal">(302)
                            555-0107</a>
                    </div>
                </div>

                <div class="w-full">
                    <div
                        class="icon-60 text-h3 lg:mb-5 mb-3 text-neutral11 dark:text-neutral2 bg-neutral2 dark:bg-neutral12 mx-auto">
                        <i class="ph ph-paper-plane-tilt"></i>
                    </div>
                    <div class="text-center">
                        <span class="block lg:text-lg text-base text-dark dark:text-neutral2 font-medium">Email</span>
                        <a href="mailto:tanya@exple.com"
                            class="block text-base text-dark dark:text-light font-normal">tanya@exple.com</a>
                    </div>
                </div>

                <div class="w-full">
                    <div
                        class="icon-60 text-h3 lg:mb-5 mb-3 text-neutral11 dark:text-neutral2 bg-neutral2 dark:bg-neutral12 mx-auto">
                        <i class="ph ph-map-pin"></i>
                    </div>
                    <div class="text-center">
                        <span class="block lg:text-lg text-base text-dark dark:text-neutral2 font-medium">Address</span>
                        <a href="#" class="block text-base text-dark dark:text-light font-normal">775
                            Rolling
                            Green Rd.</a>
                    </div>
                </div>
            </div>
            <iframe class="w-full h-[330px] rounded"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d133.49729405974563!2d25.032808858865348!3d60.22744380079842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469208e4334254bf%3A0x2e655d87bc6a330c!2sAuringonkukka%20Daycare%20Centre!5e1!3m2!1sen!2sbd!4v1731406498073!5m2!1sen!2sbd"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="xxl:col-span-6 col-span-12">
            <div class="xl:mb-12 lg:mb-10 md:mb-8 mb-6">
                <h3 class="text-dark dark:text-light mb-4">
                    Let's Get In Touch
                </h3>
                <p class="lg:text-lg text-base text-dark dark:text-light font-thin">
                    Fill out the form opportunities and I'll do my best to respond to your inquiry
                    within 24 hours.
                </p>
            </div>

            <form action="#" class="flex flex-col gap-4">
                <input type="text" name="name" placeholder="Name"
                    class="text-base text-dark dark:text-light border border-neutral3/60 dark:border-neutral2 border-opacity-30 rounded-md p-3 placeholder:text-neutral12 dark:placeholder:text-neutral2 placeholder:font-thin bg-transparent focus:outline-none focus:ring-0">
                <input type="email" name="email" placeholder="Email"
                    class="text-base text-dark dark:text-light border border-neutral3/60 dark:border-neutral2 border-opacity-30 rounded-md p-3 placeholder:text-neutral12 dark:placeholder:text-neutral2 placeholder:font-thin bg-transparent focus:outline-none focus:ring-0">
                <textarea name="message" placeholder="Message" rows="5"
                    class="text-base text-dark dark:text-light border border-neutral3/60 dark:border-neutral2 border-opacity-30 rounded-md p-3 placeholder:text-neutral12 dark:placeholder:text-neutral2 placeholder:font-thin bg-transparent focus:outline-none focus:ring-0"></textarea>
                <button type="submit" class="btn-primary rounded">Send Message</button>
            </form>

        </div>
    </div>
</div>