<!-- contact section -->
<section id="contact-section" class="card-section-wrapper contact-section">
    <!-- profile area 2 v1 -->
    <div class="bg-light dark:bg-dark duration-500">
        <div
            class="profile-area flex flex-col lg:w-full md:w-1/2 sm:w-2/3 w-full h-full mx-auto lg:pb-20 md:pb-15 pb-10 lg:hidden">
            <div class="profile-thumbnail h-[60%] lg:border-b-4 border-neutral7 dark:border-primary-3">
                <div class="profile-thumb w-full h-full">
                    <img class="w-full h-full object-cover" src="assets/images/profile-image.webp" alt="profile">
                </div>
            </div>
            <div
                class="profile-content flex flex-col justify-between gap-6 xxxl:px-8 lg:px-6 sm:px-4 px-3 xxl:-translate-y-8 xl:-translate-y-7 lg:-translate-y-6 -translate-y-5 h-[45%] ">
                <div class="profile-social ">
                    <ul class="flex items-center justify-center xxl:gap-3 lg:gap-2 gap-1">
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-facebook-02"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-new-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-linkedin-01"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-sharp hgi-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="text-center text-dark dark:text-light mb-2">
                        Robert Fox
                    </h2>
                    <h4 class="typewriter text-center text-primary"></h4>
                </div>
                <div
                    class="flex xxl:justify-between justify-center gap-3 lg:py-4 md:py-3 py-2 border-t border-b border-neutral7 border-opacity-40 dark:border-primary-3 relative">
                    <a href="#" class="btn-primary w-full box-hover before:bg-primary-3">
                        Hire Me
                    </a>
                    <span
                        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[0.2px] h-full rounded-full bg-neutral7 dark:bg-primary-3"></span>
                    <a href="#" download="resume" class="btn-secondary w-full box-hover before:bg-primary">Download
                        CV</a>
                </div>
            </div>
        </div>
    </div>

    <div class="xxl:px-20 xl:px-15 lg:px-10 md:px-6 sm:px-4 px-3 lg:pt-20 pt-15 pb-120 bg-accent14">
        <!-- back btn -->
        <button class="back-to-menu btn btn-primary box-hover before:bg-primary-3 px-3 py-2 absolute top-4 ltr:right-4
            rtl:left-4 flex items-center gap-2 text-light text-base font-thin duration-300 border-b border-light
            group/btn">
            <span>
                Back to Menu
            </span>
            <span class="text-lg group-hover/btn:rotate-90 duration-300"><i
                    class="hgi-stroke hgi-arrow-up-right-01"></i></span>
        </button>

        <!-- CONTACT -->
        <div class="xl:mb-12 lg:mb-10 md:mb-8 mb-6">
            <span
                class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border-[0.5px] border-light text-light text-opacity-80 rounded-full inline-block xl:mb-3 mb-2">
                CONTACT
            </span>
            <h2 class="parallax-title text-h1 text-light lg:mb-4 mb-3 cursor-effect-medium">
                Let's word a conversation
            </h2>
            <p class="text-base lg:text-xl text-neutral2 font-thin">
                Start a Conversation Today
            </p>
        </div>
        <div class="grid grid-cols-12 xl:gap-12 lg:gap-10 md:gap-8 gap-6">
            <div class="xxl:col-span-6 col-span-12">
                <div class="flex items-center justify-between xs:flex-nowrap flex-wrap gap-3 lg:mb-8 mb-6">
                    <div class="w-full">
                        <div class="icon-60 text-h3 lg:mb-5 mb-3 bg-light mx-auto">
                            <i class="ph ph-phone"></i>
                        </div>
                        <div class="text-center">
                            <span class="block lg:text-lg text-base text-light font-medium">Phone</span>
                            <a href="tel:3025550107" class="block lg:text-lg text-base text-light font-normal">(302)
                                555-0107</a>
                        </div>
                    </div>

                    <div class="w-full">
                        <div class="icon-60 text-h3 lg:mb-5 mb-3 bg-light mx-auto">
                            <i class="ph ph-paper-plane-tilt"></i>
                        </div>
                        <div class="text-center">
                            <span class="block lg:text-lg text-base text-light font-medium">Email</span>
                            <a href="mailto:tanya@exple.com"
                                class="block lg:text-lg text-base text-light font-normal">tanya@exple.com</a>
                        </div>
                    </div>

                    <div class="w-full">
                        <div class="icon-60 text-h3 lg:mb-5 mb-3 bg-light mx-auto">
                            <i class="ph ph-map-pin"></i>
                        </div>
                        <div class="text-center">
                            <span class="block lg:text-lg text-base text-light font-medium">Address</span>
                            <a href="#" class="block lg:text-lg text-base text-light font-normal">775
                                Rolling
                                Green Rd.</a>
                        </div>
                    </div>
                </div>
                <iframe class="w-full h-[330px] rounded"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d133.49729405974563!2d25.032808858865348!3d60.22744380079842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469208e4334254bf%3A0x2e655d87bc6a330c!2sAuringonkukka%20Daycare%20Centre!5e1!3m2!1sen!2sbd!4v1731406498073!5m2!1sen!2sbd"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="xxl:col-span-6 col-span-12">
                <div class="xl:mb-12 lg:mb-10 md:mb-8 mb-6">
                    <h3 class="text-light mb-4">
                        Let's Get In Touch
                    </h3>
                    <p class="lg:text-lg text-base text-light font-thin">
                        Fill out the form opportunities and I'll do my best to respond to your inquiry
                        within 24 hours.
                    </p>
                </div>

                <form action="#" class="flex flex-col gap-4">
                    <input type="text" name="name" placeholder="Name"
                        class="text-base text-light border border-neutral2 border-opacity-30 rounded-md p-3 placeholder:text-neutral2 placeholder:font-thin bg-transparent focus:outline-none focus:ring-0">
                    <input type="email" name="email" placeholder="Email"
                        class="text-base text-light border border-neutral2 border-opacity-30 rounded-md p-3 placeholder:text-neutral2 placeholder:font-thin bg-transparent focus:outline-none focus:ring-0">
                    <textarea name="message" placeholder="Message" rows="5"
                        class="text-base text-light border border-neutral2 border-opacity-30 rounded-md p-3 placeholder:text-neutral2 placeholder:font-thin bg-transparent focus:outline-none focus:ring-0"></textarea>
                    <button type="submit" class="btn-primary bg-accent17 rounded">Send Message</button>
                </form>

            </div>
        </div>

    </div>

    <!-- bottom navigation -->
    <div class="flex flex-wrap sm:flex-nowrap">

        <!-- ABOUT ME -->
        <div class="grid-card-wrapper duration-500 w-full h-full overflow-hidden" data-section-id="about-section">
            <!-- front -->
            <div class="grid-card front-face h-full relative overflow-hidden cursor-pointer">

                <div class="full-text hover-cursor" data-hover-text="View Details">
                    <div class="relative xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent7 bg-no-repeat bg-center bg-cover z-10 border-b-4 border-accent1"
                        style="background-image: url(assets/images/bg-noise.webp);">
                        <!-- blur background -->
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 bg-accent1 opacity-40 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[400px] max-h-[400px] w-full h-full rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-accent1 opacity-40 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute bottom-0 right-0 translate-x-1/2 translate-y-1/2 bg-accent1 opacity-40 -z-10 blur-3xl">
                        </div>
                        <!-- content -->
                        <div class="card-content xxxl:mb-[80px] xl:mb-[60px] lg:mb-[50px] mb-[40px]">
                            <span
                                class="xl:px-3 px-2 py-1.5 border border-accent1 text-accent1 rounded-full inline-block xl:mb-5 mb-3">ABOUT</span>
                            <span
                                class="full-text-title parallax-title flex xl:flex-col lg:flex-row flex-col text-accent1 lg:line-clamp-2 line-clamp-1 mb-3">
                                <span class="block">Product
                                    <span class="font-normal">Designer</span>
                                </span>
                                <span class="block">& Developer</span>
                            </span>
                            <span class="text-base xl:text-lg line-clamp-1 text-accent1">New York,
                                USA</span>
                        </div>
                        <!-- button -->
                        <div class="flex items-end justify-between">
                            <a href="#" class="">
                                <svg class="fill-current text-accent1" xmlns="http://www.w3.org/2000/svg" width="62"
                                    height="42" viewBox="0 0 62 42" fill="none">
                                    <g clip-path="url(#clip0_6378_197)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                    </g>
                                </svg>
                            </a>
                            <div
                                class="flex items-center justify-center p-10 absolute xl:-bottom-10 -bottom-8 ltr:xl:-right-10 ltr:-right-8 rtl:xl:-left-10 rtl:-left-8 xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent1 bg-accent1 bg-opacity-10 rounded-full">
                                <span class="xxl:text-6xl xl:text-5xl text-4xl text-accent1">
                                    <i class="ph ph-smiley"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ARTICLES -->
        <div class="grid-card-wrapper duration-500 w-full h-full overflow-hidden" data-section-id="articles-section">
            <!-- front -->
            <div class="grid-card front-face h-full relative overflow-hidden cursor-pointer">
                <div class="full-text duration-300 overflow-hidden hover-cursor" data-hover-text="View Details">
                    <div class="relative xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent15 bg-no-repeat bg-center bg-cover z-10 border-b-4 border-accent6"
                        style="background-image: url(assets/images/bg-noise.webp);">
                        <!-- blur background -->
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 bg-accent6 opacity-60 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute top-0 right-0 translate-x-1/2 -translate-y-1/2 bg-accent6 opacity-40 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[300px] max-h-[300px] w-full h-full rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-accent6 opacity-20 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute bottom-0 left-0 -translate-x-1/2 translate-y-1/2 bg-accent6 opacity-30 -z-10 blur-3xl">
                        </div>
                        <div class="flex flex-col justify-between h-full">
                            <!-- content -->
                            <div class="card-content xxxl:mb-[80px] xl:mb-[60px] lg:mb-[50px] mb-[40px]">
                                <span
                                    class="xl:px-3 px-2 py-1.5 border border-accent6 text-accent6 rounded-full inline-block xl:mb-5 mb-3">ARTICLES</span>
                                <span
                                    class="full-text-title parallax-title flex xl:flex-col lg:flex-row flex-col text-accent6 lg:line-clamp-2 line-clamp-1 mb-3">
                                    <span class="block">Latest Web Solutions </span>
                                    <span class="block">And Technologies</span>
                                </span>
                                <span class="text-base xl:text-lg line-clamp-1 text-accent6">Cutting-edge
                                    tools,
                                    seamless integration.</span>
                            </div>
                            <!-- button -->
                            <div class="flex items-end justify-between">
                                <a href="#" class="">
                                    <svg class="fill-current text-accent6" xmlns="http://www.w3.org/2000/svg" width="62"
                                        height="42" viewBox="0 0 62 42" fill="none">
                                        <g clip-path="url(#clip0_6378_197)">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                        </g>
                                    </svg>
                                </a>
                                <div
                                    class="flex items-center justify-center p-10 absolute xl:-bottom-10 -bottom-8 ltr:xl:-right-10 ltr:-right-8 rtl:xl:-left-10 rtl:-left-8 xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent6 bg-accent6 bg-opacity-10 rounded-full">
                                    <span class="xxl:text-6xl xl:text-5xl text-4xl text-accent6">
                                        <i class="ph ph-file-text"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>