<!-- contact section start -->
<div id="contact-section-v8"
    class="menu-item xl:w-20 w-0 h-full xl:border-l border-neutral3/40 dark:border-neutral3 xl:duration-500 overflow-hidden overflow-y-auto"
    data-section-id="contact-section-v8">
    <div
        class="menu-link flex items-center justify-between -rotate-180 w-full h-full writing-mode-vertical-rl py-6 cursor-pointer">
        <span class="text-base text-dark dark:text-light">CONTACT</span>
        <span class="text-base text-dark dark:text-light">07</span>
    </div>
    <!-- CONTACT content -->
    <div class="menu-content hidden 4xl:px-15 xxxl:px-10 xxl:px-8 lg:px-6 md:px-4 px-2">
        <!-- page title stroke -->
        <span
            class="block leading-none text-stroke-2 text-stroke-neutral3 text-transparent font-bold opacity-20 text-[60px] xs:text-[50px] sm:text-[50px] md:text-[60px] lg:text-[80px] xl:text-[100px] xxl:text-[140px] xxxl:text-[160px] 4xl:text-[180px] w-full text-center">
            CONTACT
        </span>
        <!-- content -->
        <div class="xl:mb-15 lg:mb-10 md:mb-8 mb-6">
            <span class="block text-base xl:text-lg text-dark dark:text-light mb-3">
                CONTACT
            </span>
            <h2 class="display-4 text-dark dark:text-light lg:mb-5 mb-3">
                Let's Get In Touch
            </h2>
            <span class="block text-base lg:text-lg xl:text-xl text-dark dark:text-light">
                Fill out the form opportunities and I'll do my best to respond to your inquiry within 24
                hours.
            </span>
        </div>

        <form action="#" class="flex flex-col lg:gap-6 gap-4">
            <div class="flex md:flex-nowrap flex-wrap lg:gap-6 gap-4">
                <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                    <label class="text-dark dark:text-neutral1 text-base font-thin">
                        FULL NAME *
                    </label>
                    <input type="text" name="name" placeholder="Your Full Name"
                        class="lg:py-3 py-2 lg:px-6 px-4 rounded-lg text-dark dark:text-light bg-transparent border border-neutral3/40 dark:border-neutral11">
                </div>
                <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                    <label class="text-dark dark:text-neutral1 text-base font-thin">
                        EMAIL ADDRESS *
                    </label>
                    <input type="email" name="email" placeholder="Your Email Address"
                        class="lg:py-3 py-2 lg:px-6 px-4 rounded-lg text-dark dark:text-light bg-transparent border border-neutral3/40 dark:border-neutral11">
                </div>
            </div>
            <div class="flex md:flex-nowrap flex-wrap lg:gap-6 gap-4">
                <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                    <label class="text-dark dark:text-neutral1 text-base font-thin">
                        PHONE NUMBER *
                    </label>
                    <input type="text" name="phone" placeholder="Your Phone Number"
                        class="lg:py-3 py-2 lg:px-6 px-4 rounded-lg text-dark dark:text-light bg-transparent border border-neutral3/40 dark:border-neutral11">
                </div>
                <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                    <label class="text-dark dark:text-neutral1 text-base font-thin">
                        SUBJECT *
                    </label>
                    <input type="text" name="subject" placeholder="Subject"
                        class="lg:py-3 py-2 lg:px-6 px-4 rounded-lg text-dark dark:text-light bg-transparent border border-neutral3/40 dark:border-neutral11">
                </div>
            </div>
            <div class="flex flex-col lg:gap-3 gap-2">
                <label class="text-dark dark:text-neutral1 text-base font-thin">
                    MESSAGE *
                </label>
                <textarea name="message" placeholder="Write Your Message Here...." rows="8"
                    class="lg:py-3 py-2 lg:px-6 px-4 rounded-lg text-dark dark:text-light bg-transparent border border-neutral3/40 dark:border-neutral11"></textarea>
            </div>
            <button type="submit" class="btn w-full text-light dark:text-dark bg-dark dark:bg-light">
                <span>Send Message</span>
            </button>
        </form>
    </div>
</div>
<!-- contact section end -->