<!-- CONTACT v4 -->
<div
    class="flex flex-col xl:gap-12 lg:gap-10 md:gap-8 gap-6 xxl:p-10 lg:p-8 md:p-6 p-4 bg-neutral2/40 dark:bg-neutral12/50 border border-neutral3/20 dark:border-neutral11/50 rounded-3xl">

    <div>
        <span
            class="text-sm xl:px-3 px-2 py-1.5 text-dark dark:text-neutral2 border-[0.5px] border-dark dark:border-neutral2 rounded-full inline-block lg:mb-5 mb-3">
            CONTACT
        </span>
        <h2
            class="text-dark dark:text-light lg:mb-4 mb-3 transition-all duration-300 hover:text-stroke-1 text-stroke-dark dark:text-stroke-light hover:text-transparent dark:hover:text-transparent">
            Let's Get In Touch
        </h2>
        <p class="text-base lg:text-xl text-dark dark:text-neutral2 font-thin">
            Fill out the form opportunities and I'll do my best to respond to your inquiry within 24
            hours.
        </p>
    </div>
    <form action="#" class="flex flex-col lg:gap-6 gap-4">
        <div class="flex md:flex-nowrap flex-wrap lg:gap-6 gap-4">
            <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                <label class="text-dark dark:text-light text-base font-normal">
                    FULL NAME *
                </label>
                <input type="text" name="name" placeholder="Your Full Name"
                    class="lg:py-3 py-2 lg:px-6 px-4 rounded-full text-dark dark:text-light bg-neutral2 dark:bg-neutral11/20 border border-neutral3/20 dark:border-neutral11/50 placeholder:text-neutral11/60 dark:placeholder:text-neutral3">
            </div>
            <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                <label class="text-dark dark:text-light text-base font-normal">
                    EMAIL ADDRESS *
                </label>
                <input type="email" name="email" placeholder="Your Email Address"
                    class="lg:py-3 py-2 lg:px-6 px-4 rounded-full text-dark dark:text-light bg-neutral2 dark:bg-neutral11/20 border border-neutral3/20 dark:border-neutral11/50 placeholder:text-neutral11/60 dark:placeholder:text-neutral3">
            </div>
        </div>
        <div class="flex md:flex-nowrap flex-wrap lg:gap-6 gap-4">
            <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                <label class="text-dark dark:text-light text-base font-normal">
                    PHONE NUMBER *
                </label>
                <input type="text" name="phone" placeholder="Your Phone Number"
                    class="lg:py-3 py-2 lg:px-6 px-4 rounded-full text-dark dark:text-light bg-neutral2 dark:bg-neutral11/20 border border-neutral3/20 dark:border-neutral11/50 placeholder:text-neutral11/60 dark:placeholder:text-neutral3">
            </div>
            <div class="flex flex-col lg:gap-3 gap-2 lg:w-1/2 w-full">
                <label class="text-dark dark:text-light text-base font-normal">
                    SUBJECT *
                </label>
                <input type="text" name="subject" placeholder="Subject"
                    class="lg:py-3 py-2 lg:px-6 px-4 rounded-full text-dark dark:text-light bg-neutral2 dark:bg-neutral11/20 border border-neutral3/20 dark:border-neutral11/50 placeholder:text-neutral11/60 dark:placeholder:text-neutral3">
            </div>
        </div>
        <div class="flex flex-col lg:gap-3 gap-2">
            <label class="text-dark dark:text-light text-base font-normal">
                MESSAGE *
            </label>
            <textarea name="message" placeholder="Write Your Message Here...." rows="5"
                class="lg:py-3 py-2 lg:px-6 px-4 rounded-3xl text-dark dark:text-light bg-neutral2 dark:bg-neutral11/20 border border-neutral3/20 dark:border-neutral11/50 placeholder:text-neutral11/60 dark:placeholder:text-neutral3"></textarea>
        </div>
        <button type="submit" class="btn w-full text-dark bg-accent2 rounded-full hover:text-light">
            <span>Send Message</span>
        </button>
    </form>
</div>