<!-- counter -->
<div data-aos="fade-down">
    <div class="grid md:grid-cols-3 xs:grid-cols-2 grid-cols-1 gap-6">
        <div class="col-span-1 text-center">
            <h2 class="f-center display-4 font-normal text-accent5 dark:text-accent1">
                <span class="odometer text-nowrap font-satoshi font-semibold" data-odometer-final="06"></span>
            </h2>
            <span class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block">
                YEARS EXPERIENCE
            </span>
        </div>
        <div class="col-span-1 text-center">
            <h2 class="f-center display-4 font-normal text-primary">
                <span>+</span>
                <span class="odometer text-nowrap font-satoshi font-semibold" data-odometer-final="145"></span>
            </h2>
            <span class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block">
                TOTAL PROJECTS
            </span>
        </div>
        <div class="col-span-1 text-center">
            <h2 class="f-center display-4 font-normal text-accent5 dark:text-accent1">
                <span>+</span>
                <span class="odometer text-nowrap font-satoshi font-semibold" data-odometer-final="129"></span>
            </h2>
            <span class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block">
                CLIENTS WORLDWIDE
            </span>
        </div>
    </div>
</div>