<!-- experience section -->
<section id="experience-section" class="card-section-wrapper experience-section">
    <!-- profile area 2 v1 -->
    <div class="bg-light dark:bg-dark duration-500">
        <div
            class="profile-area flex flex-col lg:w-full md:w-1/2 sm:w-2/3 w-full h-full mx-auto lg:pb-20 md:pb-15 pb-10 lg:hidden">
            <div class="profile-thumbnail h-[60%] lg:border-b-4 border-neutral7 dark:border-primary-3">
                <div class="profile-thumb w-full h-full">
                    <img class="w-full h-full object-cover" src="assets/images/profile-image.webp" alt="profile">
                </div>
            </div>
            <div
                class="profile-content flex flex-col justify-between gap-6 xxxl:px-8 lg:px-6 sm:px-4 px-3 xxl:-translate-y-8 xl:-translate-y-7 lg:-translate-y-6 -translate-y-5 h-[45%] ">
                <div class="profile-social ">
                    <ul class="flex items-center justify-center xxl:gap-3 lg:gap-2 gap-1">
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-facebook-02"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-new-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-linkedin-01"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-sharp hgi-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="text-center text-dark dark:text-light mb-2">
                        Robert Fox
                    </h2>
                    <h4 class="typewriter text-center text-primary"></h4>
                </div>
                <div
                    class="flex xxl:justify-between justify-center gap-3 lg:py-4 md:py-3 py-2 border-t border-b border-neutral7 border-opacity-40 dark:border-primary-3 relative">
                    <a href="#" class="btn-primary w-full box-hover before:bg-primary-3">
                        Hire Me </a>
                    <span
                        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[0.2px] h-full rounded-full bg-neutral7 dark:bg-primary-3"></span>
                    <a href="#" download="resume" class="btn-secondary w-full box-hover before:bg-primary">Download
                        CV</a>
                </div>
            </div>
        </div>
    </div>

    <div class="xxl:px-20 xl:px-15 lg:px-10 md:px-6 sm:px-4 px-3 lg:pt-20 pt-15 pb-120 bg-accent11">
        <!-- back btn -->
        <button class="back-to-menu btn btn-primary box-hover before:bg-primary-3 px-3 py-2 absolute top-4 ltr:right-4
            rtl:left-4 flex items-center gap-2 text-light text-base font-thin duration-300 border-b border-light
            group/btn">
            <span>
                Back to Menu
            </span>
            <span class="text-lg group-hover/btn:rotate-90 duration-300"><i
                    class="hgi-stroke hgi-arrow-up-right-01"></i></span>
        </button>

        <!-- Experience -->
        <div class="xl:mb-12 lg:mb-10 md:mb-8 mb-6">
            <span
                class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border-[0.5px] border-light text-light text-opacity-80 rounded-full inline-block xl:mb-3 mb-2">
                EXPERIENCE
            </span>
            <h2 class="parallax-title text-h1 text-light lg:mb-4 mb-3 cursor-effect-medium">
                Work Experience
            </h2>
            <p class="text-base lg:text-xl text-neutral2 font-thin">
                Emphasizing core skills effectively.
            </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-6 lg:mb-20 md:mb-15 mb-10">
            <div class="col-span-1 text-center">
                <h2
                    class="f-center text-4xl font-semibold leading-tight xl:text-5xl xxxl:text-6xl 4xl:text-7xl text-accent10">
                    <span class="odometer text-nowrap" data-odometer-final="06"></span>
                </h2>
                <span class="text-base xl:text-lg text-center text-accent10">
                    YEARS EXPERIENCE
                </span>
            </div>
            <div class="col-span-1 text-center">
                <h2
                    class="f-center text-4xl font-semibold leading-tight xl:text-5xl xxxl:text-6xl 4xl:text-7xl text-accent10">
                    <span>+</span>
                    <span class="odometer text-nowrap" data-odometer-final="145"></span>
                </h2>
                <span class="text-base xl:text-lg text-center text-accent10">
                    TOTAL PROJECTS
                </span>
            </div>
            <div class="col-span-1 text-center">
                <h2
                    class="f-center text-4xl font-semibold leading-tight xl:text-5xl xxxl:text-6xl 4xl:text-7xl text-accent10">
                    <span>+</span>
                    <span class="odometer text-nowrap" data-odometer-final="95"></span>
                </h2>
                <span class="text-base xl:text-lg text-center text-accent10">
                    AWARDS ACHIEVEMENT
                </span>
            </div>
            <div class="col-span-1 text-center">
                <h2
                    class="f-center text-4xl font-semibold leading-tight xl:text-5xl xxxl:text-6xl 4xl:text-7xl text-accent10">
                    <span>+</span>
                    <span class="odometer text-nowrap" data-odometer-final="129"></span>
                </h2>
                <span class="text-base xl:text-lg text-center text-accent10">
                    CLIENTS WORLDWIDE
                </span>
            </div>
        </div>

        <!-- TESTIMONIALS -->
        <div class="flex flex-col xl:gap-12 lg:gap-10 md:gap-8 gap-6">

            <div>
                <span
                    class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border-[0.5px] border-light text-light text-opacity-80 rounded-full inline-block xl:mb-3 mb-2">
                    TESTIMONIALS
                </span>
                <h2 class="parallax-title text-h1 text-light lg:mb-4 mb-3 cursor-effect-medium">
                    Trusted by Hundred Clients
                </h2>
                <p class="text-base lg:text-xl text-neutral2 font-thin">
                    Emphasizing core skills effectively.
                </p>
            </div>

            <!-- testimonial swiper -->
            <div class="swiper testimonial-swiper w-full">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div
                            class="testimonial-card w-full flex flex-col lg:gap-8 gap-6 lg:p-6 p-4 border border-neutral1 border-opacity-40 rounded duration-300 hover:border-b-4 hover:border-accent10 overflow-hidden">
                            <ul class="flex items-center gap-1">
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star-half"></i>
                                    </span></li>
                            </ul>
                            <p class="text-neutral1 xl:text-xl lg:text-lg text-base">
                                "It's rare to find someone as skilled and dedicated as [Your Name]. Their contributions
                                to our development team were invaluable, and their work ethic is inspiring."
                            </p>
                            <div class="flex items-center justify-between gap-3">
                                <div class="flex items-center gap-3">
                                    <div class="lg:size-15 md:size-12 size-10 rounded-full overflow-hidden">
                                        <img class="w-full" src="assets/images/user-1.webp" alt="user">
                                    </div>
                                    <div class="">
                                        <h5 class="text-neutral1">Anna Garcia</h5>
                                        <span class="text-base text-neutral1 font-thin">April 25,
                                            2024</span>
                                    </div>
                                </div>
                                <div class="size-10">
                                    <img class="w-full" src="assets/images/small-quote.png" alt="quote icon">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="testimonial-card w-full flex flex-col lg:gap-8 gap-6 lg:p-6 p-4 border border-neutral1 border-opacity-40 rounded duration-300 hover:border-b-4 hover:border-accent10 overflow-hidden">
                            <ul class="flex items-center gap-1">
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star-half"></i>
                                    </span></li>
                            </ul>
                            <p class="text-neutral1 xl:text-xl lg:text-lg text-base">
                                "[Your Name]'s ability to blend technical expertise with creative problem-solving made
                                them an invaluable asset to our team. Highly recommended!"
                            </p>
                            <div class="flex items-center justify-between gap-3">
                                <div class="flex items-center gap-3">
                                    <div class="lg:size-15 md:size-12 size-10 rounded-full overflow-hidden">
                                        <img class="w-full" src="assets/images/user-2.webp" alt="user">
                                    </div>
                                    <div class="">
                                        <h5 class="text-neutral1">James Anderson</h5>
                                        <span class="text-base text-neutral1 font-thin">April 25,
                                            2024</span>
                                    </div>
                                </div>
                                <div class="size-10">
                                    <img class="w-full" src="assets/images/small-quote.png" alt="quote icon">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="testimonial-card w-full flex flex-col lg:gap-8 gap-6 lg:p-6 p-4 border border-neutral1 border-opacity-40 rounded duration-300 hover:border-b-4 hover:border-accent10 overflow-hidden">
                            <ul class="flex items-center gap-1">
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star-half"></i>
                                    </span></li>
                            </ul>
                            <p class="text-neutral1 xl:text-xl lg:text-lg text-base">
                                "I was blown away by [Your Name]'s ability to understand my brand and translate it into
                                a beautiful and functional website. Their work exceeded my expectations."
                            </p>
                            <div class="flex items-center justify-between gap-3">
                                <div class="flex items-center gap-3">
                                    <div class="lg:size-15 md:size-12 size-10 rounded-full overflow-hidden">
                                        <img class="w-full" src="assets/images/user-3.webp" alt="user">
                                    </div>
                                    <div class="">
                                        <h5 class="text-neutral1">Laura Martinez </h5>
                                        <span class="text-base text-neutral1 font-thin">April 25,
                                            2024</span>
                                    </div>
                                </div>
                                <div class="size-10">
                                    <img class="w-full" src="assets/images/small-quote.png" alt="quote icon">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="testimonial-card w-full flex flex-col lg:gap-8 gap-6 lg:p-6 p-4 border border-neutral1 border-opacity-40 rounded duration-300 hover:border-b-4 hover:border-accent10 overflow-hidden">
                            <ul class="flex items-center gap-1">
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star"></i>
                                    </span></li>
                                <li><span class="flex text-lg lg:text-xl text-accent1">
                                        <i class="ph-fill ph-star-half"></i>
                                    </span></li>
                            </ul>
                            <p class="text-neutral1 xl:text-xl lg:text-lg text-base">
                                "Working with [Your Name] was an incredible experience. Their attention to detail and
                                ability to solve complex problems made a huge impact on our project. Highly recommend!"
                            </p>
                            <div class="flex items-center justify-between gap-3">
                                <div class="flex items-center gap-3">
                                    <div class="lg:size-15 md:size-12 size-10 rounded-full overflow-hidden">
                                        <img class="w-full" src="assets/images/user-4.webp" alt="user">
                                    </div>
                                    <div class="">
                                        <h5 class="text-neutral1">John Doe</h5>
                                        <span class="text-base text-neutral1 font-thin">April 25,
                                            2024</span>
                                    </div>
                                </div>
                                <div class="size-10">
                                    <img class="w-full" src="assets/images/small-quote.png" alt="quote icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- bottom navigation -->
    <div class="flex flex-wrap sm:flex-nowrap">

        <!-- ABOUT ME -->
        <div class="grid-card-wrapper duration-500 w-full h-full overflow-hidden" data-section-id="about-section">
            <!-- front -->
            <div class="grid-card front-face h-full relative overflow-hidden cursor-pointer">

                <div class="full-text hover-cursor" data-hover-text="View Details">
                    <div class="relative xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent7 bg-no-repeat bg-center bg-cover z-10 border-b-4 border-accent1"
                        style="background-image: url(assets/images/bg-noise.webp);">
                        <!-- blur background -->
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 bg-accent1 opacity-40 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[400px] max-h-[400px] w-full h-full rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-accent1 opacity-40 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute bottom-0 right-0 translate-x-1/2 translate-y-1/2 bg-accent1 opacity-40 -z-10 blur-3xl">
                        </div>
                        <!-- content -->
                        <div class="card-content xxxl:mb-[80px] xl:mb-[60px] lg:mb-[50px] mb-[40px]">
                            <span
                                class="xl:px-3 px-2 py-1.5 border border-accent1 text-accent1 rounded-full inline-block xl:mb-5 mb-3">ABOUT</span>
                            <span
                                class="full-text-title parallax-title flex xl:flex-col lg:flex-row flex-col text-accent1 lg:line-clamp-2 line-clamp-1 mb-3">
                                <span class="block">Product
                                    <span class="font-normal">Designer</span>
                                </span>
                                <span class="block">& Developer</span>
                            </span>
                            <span class="text-base xl:text-lg line-clamp-1 text-accent1">New York,
                                USA</span>
                        </div>
                        <!-- button -->
                        <div class="flex items-end justify-between">
                            <a href="#" class="">
                                <svg class="fill-current text-accent1" xmlns="http://www.w3.org/2000/svg" width="62"
                                    height="42" viewBox="0 0 62 42" fill="none">
                                    <g clip-path="url(#clip0_6378_197)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                    </g>
                                </svg>
                            </a>
                            <div
                                class="flex items-center justify-center p-10 absolute xl:-bottom-10 -bottom-8 ltr:xl:-right-10 ltr:-right-8 rtl:xl:-left-10 rtl:-left-8 xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent1 bg-accent1 bg-opacity-10 rounded-full">
                                <span class="xxl:text-6xl xl:text-5xl text-4xl text-accent1">
                                    <i class="ph ph-smiley"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTACT ME -->
        <div class="grid-card-wrapper duration-500 w-full h-full overflow-hidden" data-section-id="contact-section">
            <!-- front -->
            <div class="grid-card front-face h-full relative overflow-hidden cursor-pointer">
                <div class="full-text duration-300 overflow-hidden hover-cursor" data-hover-text="View Details">
                    <div class="relative xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent14 bg-no-repeat bg-center bg-cover z-10 border-b-4 border-accent13"
                        style="background-image: url(assets/images/bg-noise.webp);">
                        <!-- blur background -->
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 bg-accent13 opacity-60 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute top-0 right-0 translate-x-1/2 -translate-y-1/2 bg-accent13 opacity-40 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[300px] max-h-[300px] w-full h-full rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-accent13 opacity-20 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute bottom-0 left-0 -translate-x-1/2 translate-y-1/2 bg-accent13 opacity-30 -z-10 blur-3xl">
                        </div>
                        <div class="flex flex-col justify-between h-full">
                            <!-- content -->
                            <div class="card-content xxxl:mb-[80px] xl:mb-[60px] lg:mb-[50px] mb-[40px]">
                                <span
                                    class="xl:px-3 px-2 py-1.5 border border-accent13 text-accent13 rounded-full inline-block xl:mb-5 mb-3">CONTACT</span>
                                <span
                                    class="full-text-title parallax-title flex xl:flex-col lg:flex-row flex-col text-accent13 lg:line-clamp-2 line-clamp-1 mb-3">
                                    <span class="block">Let’s Word A</span>
                                    <span class="block">Conversation</span>
                                </span>
                                <span class="text-base xl:text-lg line-clamp-1 text-accent13">Start a
                                    Conversation
                                    Today</span>
                            </div>
                            <!-- button -->
                            <div class="flex items-end justify-between">
                                <a href="#" class="">
                                    <svg class="fill-current text-accent13" xmlns="http://www.w3.org/2000/svg"
                                        width="62" height="42" viewBox="0 0 62 42" fill="none">
                                        <g clip-path="url(#clip0_6378_197)">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                        </g>
                                    </svg>
                                </a>
                                <div
                                    class="flex items-center justify-center p-10 absolute xl:-bottom-10 -bottom-8 ltr:xl:-right-10 ltr:-right-8 rtl:xl:-left-10 rtl:-left-8 xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent13 bg-accent13 bg-opacity-10 rounded-full">
                                    <span class="xxl:text-6xl xl:text-5xl text-4xl text-accent13">
                                        <i class="ph ph-phone-call"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>