<!-- footer section -->
<footer>
    <!-- svg line animation -->
    <div class="svg-line relative overflow-hidden w-full lg:h-20 md:h-15 h-10">
        <svg class="fill-current stroke-neutral11/15 dark:stroke-neutral3/25 w-full h-full pointer-events-none"
            viewBox="0 -20 1200 1" xmlns="http://www.w3.org/2000/svg">
            <path class="line" fill="none" stroke-width="1" d="M 0 0 Q 400 0 1200 0" />
        </svg>
    </div>
    <div class="flex items-center justify-between">
        <span class="text-base lg:text-xl text-dark dark:text-neutral1">
            Copyright @ <span class="currentYear"></span> Craftfolio.
        </span>
        <span class="text-base lg:text-xl text-dark dark:text-neutral1">
            Designed By <a href="#" class="underline text-primary">Pixelaxis</a>
        </span>
    </div>
</footer>