<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="#">
    <meta name="keywords" content="#, #, #, #">
    <meta name="author" content="XYZ Team">

    <meta property="og:title" content="XYZ | ABC">
    <meta property="og:description" content="#">
    <meta property="og:image" content="../assets/images/logo.png">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="XYZ | ABC">
    <meta name="twitter:description" content="#">
    <meta name="twitter:image" content="../assets/images/logo.png">
    <meta name="twitter:site" content="@XYZ">

    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css">

    <title>Craftfolio - A Digital Canvas for Your Talent</title>
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

</head>