<!-- home section start -->
<div id="home-section-v5" class="menu-item relative z-40 xl:w-36 w-0 h-full xl:duration-1000 overflow-hidden"
    data-section-id="home-section-v5">
    <div
        class="menu-link flex relative z-40 items-center justify-between -rotate-180 w-full h-full writing-mode-vertical-rl py-6 cursor-pointer bg-accent19">
        <h2 class="text-dark">HOME</h2>
        <button
            class="xxl:size-15 xl:size-12 lg:size-10 size-9 xxl:text-2xl xl:text-xl lg:text-lg text-base text-light bg-dark rounded-full">
            <i class="hgi-stroke hgi-arrow-down-left-01"></i>
        </button>
    </div>
    <div
        class="overlay-v5 overlay-prev w-full h-full absolute top-0 left-0 z-30 transition-all duration-500 delay-300 translate-x-0 bg-accent19">
    </div>
    <div
        class="overlay-v5 overlay-next w-full h-full absolute top-0 right-0 z-30 transition-all duration-1000 delay-1000 translate-x-full bg-accent20">
    </div>

    <!-- home content -->
    <div
        class="menu-content transition-all duration-0 opacity-0 hidden 4xl:h-screen xxxl:py-15 xl:py-12 lg:py-10 md:py-8 sm:p-6 p-4">
        <!-- content -->
        <div class="max-w-[452px] w-full h-full flex flex-col items-center justify-center mx-auto">
            <div class="max-w-[452px] max-h-[590px] w-full h-full xxl:mb-10 xl:mb-8 mb-6">
                <img class="w-full h-full rounded-xl" src="assets/images/profile-image-12.webp" alt="profile">
            </div>
            <div class="profile-content flex flex-col justify-between min-h-[250px] h-full w-full">
                <div>
                    <h2 class="text-h1 text-center text-dark dark:text-light mb-2">
                        Ashadul Islam
                    </h2>
                    <h4 class="typewriter text-center text-primary font-medium"></h4>

                    <div class="profile-social xxxl:mt-8 xl:mt-6 mt-4">
                        <ul class="flex items-center justify-center xxl:gap-3 lg:gap-2 gap-1">
                            <li><a href="#"
                                    class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral2 dark:bg-neutral11/50 border border-neutral3/10 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 hover:text-light box-hover before:bg-primary">
                                    <i class="hgi-stroke hgi-facebook-02"></i>
                                </a></li>
                            <li><a href="#"
                                    class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral2 dark:bg-neutral11/50 border border-neutral3/10 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 hover:text-light box-hover before:bg-primary">
                                    <i class="hgi-stroke hgi-instagram"></i>
                                </a></li>
                            <li><a href="#"
                                    class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral2 dark:bg-neutral11/50 border border-neutral3/10 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 hover:text-light box-hover before:bg-primary">
                                    <i class="hgi-stroke hgi-new-twitter"></i>
                                </a></li>
                            <li><a href="#"
                                    class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral2 dark:bg-neutral11/50 border border-neutral3/10 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 hover:text-light box-hover before:bg-primary">
                                    <i class="hgi-stroke hgi-linkedin-01"></i>
                                </a></li>
                            <li><a href="#"
                                    class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral2 dark:bg-neutral11/50 border border-neutral3/10 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 hover:text-light box-hover before:bg-primary">
                                    <i class="hgi-stroke hgi-sharp hgi-dribbble"></i>
                                </a></li>
                        </ul>
                    </div>
                </div>

                <div class="flex justify-between gap-3 w-full">
                    <a href="#" class="btn-primary w-full py-2 box-hover before:bg-primary-3">
                        Hire Me
                    </a>

                    <a href="#" download="resume"
                        class="btn-secondary w-full dark:bg-neutral11/60 box-hover before:bg-primary">
                        Download CV
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- home section end -->