<!-- home section start -->
<div id="home-section-v8"
    class="menu-item xl:w-20 w-0 lg:h-screen h-full xl:border-l border-neutral3/40 dark:border-neutral3 xl:duration-500 overflow-hidden overflow-y-auto 4xl:overflow-y-hidden"
    data-section-id="home-section-v8">
    <div
        class="menu-link flex items-center justify-between -rotate-180 w-full h-full writing-mode-vertical-rl py-6 cursor-pointer">
        <span class="text-base text-dark dark:text-light">HOME</span>
        <span class="text-base text-dark dark:text-light">01</span>
    </div>

    <!-- home content -->
    <div class="menu-content hidden">
        <div class="flex justify-between sm:flex-row flex-col border-b border-neutral3/40 dark:border-neutral11">
            <div
                class="sm:w-1/2 w-full tall-lg:px-20 xxxl:px-15 xxl:px-10 lg:px-8 md:px-6 px-4 tall-lg:py-28 xxl:py-15 lg:py-8 md:py-6 py-4 sm:border-r border-neutral3/40 dark:border-neutral11">
                <div
                    class="4xl:max-w-[480px] lg:max-w-[400px] max-w-[300px] 4xl:max-h-[480px] lg:max-h-[400px] max-h-[300px] w-full h-full border border-neutral3/40 dark:border-neutral11 rounded-full overflow-hidden mx-auto">
                    <img class="w-full h-full object-cover" src="assets/images/profile-image-8.webp" alt="profile">
                </div>
            </div>
            <div
                class="sm:w-1/2 w-full tall-lg:px-20 xxxl:px-15 xxl:px-10 lg:px-8 md:px-6 px-4 tall-lg:py-28 xxl:py-15 lg:py-8 md:py-6 py-4">
                <div class="flex flex-col justify-between items-center gap-6 h-full">
                    <div>
                        <span class="block text-base xl:text-lg text-dark dark:text-light mb-3">
                            MY NAME IS ROBERT FOX
                        </span>
                        <h2 class="display-4 text-dark dark:text-light lg:mb-5 mb-3">
                            Products Designer
                            <span class="xs:block">& Developer</span>
                        </h2>
                        <span class="block text-base lg:text-lg xl:text-xl text-dark dark:text-light">
                            New York, USA
                        </span>
                    </div>
                    <div class="flex items-center flex-wrap gap-4">
                        <a href="#"
                            class="btn text-light dark:text-dark bg-dark dark:bg-light rounded-none duration-500 hover:text-dark dark:hover:text-light box-hover before:bg-light dark:before:bg-dark border border-dark dark:border-light">
                            Hire Me
                        </a>
                        <a href="#"
                            class="btn border border-neutral3/40 text-dark dark:text-light rounded-none duration-500 hover:text-light dark:hover:text-dark box-hover before:bg-dark dark:before:bg-light">
                            Download CV
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- home counter -->
        <!-- counter -->
        <div
            class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-4 gap-6 place-items-center tall-lg:py-13 xxxl:py-10 xxl:py-8 lg:py-6 md:py-5 py-4 4xl:px-20 xxxl:px-15 xxl:px-10 lg:px-8 md:px-6 px-4">
            <div
                class="col-span-1 f-center p-3 border border-neutral3/20 rounded-full xxxl:h-[250px] xl:h-[220px] sm:h-[200px] h-[160px] xxxl:w-[250px] xl:w-[220px] sm:w-[200px] w-[160px] relative z-10 overflow-hidden before:transition-all before:duration-500 before:absolute before:top-0 before:left-0 before:bg-dark dark:before:bg-light lg:before:w-12 before:w-10 lg:before:h-12 before:h-10 hover:before:w-full hover:before:h-full before:rounded-full before:-z-10 group/counter">
                <div>
                    <h2
                        class="f-center display-4 text-dark dark:text-light group-hover/counter:text-light group-hover/counter:dark:text-dark">
                        <span class="odometer text-nowrap font-satoshi" data-odometer-final="06"></span>
                    </h2>
                    <span
                        class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block group-hover/counter:text-neutral3 group-hover/counter:dark:text-neutral11">
                        YEARS EXPERIENCE
                    </span>
                </div>
            </div>
            <div
                class="col-span-1 f-center p-3 border border-neutral3/20 rounded-full xxxl:h-[250px] xl:h-[220px] sm:h-[200px] h-[160px] xxxl:w-[250px] xl:w-[220px] sm:w-[200px] w-[160px] relative z-10 overflow-hidden before:transition-all before:duration-500 before:absolute before:bottom-0 before:left-0 before:bg-dark dark:before:bg-light lg:before:w-12 before:w-10 lg:before:h-12 before:h-10 hover:before:w-full hover:before:h-full before:rounded-full before:-z-10 group/counter">
                <div>
                    <h2
                        class="f-center display-4 text-dark dark:text-light group-hover/counter:text-light group-hover/counter:dark:text-dark">
                        <span class="odometer text-nowrap font-satoshi" data-odometer-final="1.5"></span>
                        <span>K</span>
                    </h2>
                    <span
                        class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block group-hover/counter:text-neutral3 group-hover/counter:dark:text-neutral11">
                        TOTAL PROJECTS
                    </span>
                </div>
            </div>
            <div
                class="col-span-1 f-center p-3 border border-neutral3/20 rounded-full xxxl:h-[250px] xl:h-[220px] sm:h-[200px] h-[160px] xxxl:w-[250px] xl:w-[220px] sm:w-[200px] w-[160px] relative z-10 overflow-hidden before:transition-all before:duration-500 before:absolute before:top-0 before:right-0 before:bg-dark dark:before:bg-light lg:before:w-12 before:w-10 lg:before:h-12 before:h-10 hover:before:w-full hover:before:h-full before:rounded-full before:-z-10 group/counter">
                <div>
                    <h2
                        class="f-center display-4 text-dark dark:text-light group-hover/counter:text-light group-hover/counter:dark:text-dark">
                        <span class="odometer text-nowrap font-satoshi" data-odometer-final="1.9"></span>
                        <span>K</span>
                    </h2>
                    <span
                        class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block group-hover/counter:text-neutral3 group-hover/counter:dark:text-neutral11">
                        CLIENTS WORLDWIDE
                    </span>
                </div>
            </div>
            <div
                class="col-span-1 f-center p-3 border border-neutral3/20 rounded-full xxxl:h-[250px] xl:h-[220px] sm:h-[200px] h-[160px] xxxl:w-[250px] xl:w-[220px] sm:w-[200px] w-[160px] relative z-10 overflow-hidden before:transition-all before:duration-500 before:absolute before:bottom-0 before:right-0 before:bg-dark dark:before:bg-light lg:before:w-12 before:w-10 lg:before:h-12 before:h-10 hover:before:w-full hover:before:h-full before:rounded-full before:-z-10 group/counter">
                <div>
                    <h2
                        class="f-center display-4 text-dark dark:text-light group-hover/counter:text-light group-hover/counter:dark:text-dark">
                        <span class="odometer text-nowrap font-satoshi" data-odometer-final="95"></span>
                        <span>+</span>
                    </h2>
                    <span
                        class="md:text-base text-sm text-center text-neutral11 dark:text-neutral3 block group-hover/counter:text-neutral3 group-hover/counter:dark:text-neutral11">
                        AWARDS ACHIEVEMENT
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- home section end -->