<!-- title -->
<div class="lg:mb-20 md:mb-15 mb-10 relative" data-aos="fade-up">
    <span
        class="text-sm xl:px-3 px-2 py-1.5 text-dark dark:text-neutral2 border-[0.5px] border-dark dark:border-neutral2 rounded-full inline-block lg:mb-5 mb-3">
        INTRODUCE
    </span>
    <h2
        class="display-3 text-dark dark:text-light mb-2 transition-all duration-300 hover:text-stroke-1 text-stroke-dark dark:text-stroke-light hover:text-transparent dark:hover:text-transparent">
        <span>Product</span>
        <span class="font-thin italic">Designer </span>
        <span class="block">& Developer</span>
    </h2>
    <span class="text-lg xl:text-xl xxl:text-2xl text-dark dark:text-light">
        New York, USA
    </span>

    <!-- round text animation -->
    <div class="round-text-animation absolute top-0 ltr:right-0 rtl:left-0">
        <div
            class="round-text relative sm:flex items-center justify-center hidden 4xl:max-w-[160px] lg:max-w-[120px] md:max-w-[100px] max-w-[80px] 4xl:max-h-[160px] lg:max-h-[120px] md:max-h-[100px] max-h-[80px] w-full h-full rounded-full z-10 group/round-text">
            <!-- round text img -->
            <img class="w-full h-full animate-spin-slow animate-paused hover:animate-running brightness-0 dark:brightness-200"
                src="assets/images/round-text.png" alt="round text">
            <!-- button -->
            <a href="#" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10">
                <span
                    class="lg:size-10 md:size-8 size-7 bg-primary text-neutral2 text-base lg:text-lg xl:text-xl flex items-center justify-center rounded-full duration-300 hover:rotate-90">
                    <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                </span>
            </a>
        </div>
    </div>
</div>