<!-- menu wrapper -->
<div
    class="menu-wrapper-8 fixed top-0 left-0 z-50 bg-dark w-full h-0 transition-all duration-500 ease-linear overflow-hidden">

    <!-- menu close btn -->
    <button
        class="menu-close-btn-8 ml-auto mt-5 mr-5 flex items-center justify-center h-9 w-9 rounded-full bg-primary text-light dark:text-dark">
        <i class="hgi-stroke hgi-cancel-01"></i>
    </button>
    <!-- menu -->
    <ul class="main-menu-8 flex flex-col justify-center h-[calc(100%-3rem)] p-6">
        <li class="h-full">
            <a href="javascript:void(0)"
                class="menu-link w-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral3"
                data-section-id="home-section-v8">
                <span class="text-xl text-light">HOME</span>
                <span class="text-xl text-light">01</span>
            </a>
        </li>
        <li class="h-full">
            <a href="javascript:void(0)"
                class="menu-link w-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral3"
                data-section-id="about-section-v8">
                <span class="text-xl text-light">ABOUT</span>
                <span class="text-xl text-light">02</span>
            </a>
        </li>
        <li class="h-full">
            <a href="javascript:void(0)"
                class="menu-link w-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral3"
                data-section-id="resume-section-v8">
                <span class="text-xl text-light">RESUME</span>
                <span class="text-xl text-light">03</span>
            </a>
        </li>
        <li class="h-full">
            <a href="javascript:void(0)"
                class="menu-link w-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral3"
                data-section-id="services-section-v8">
                <span class="text-xl text-light">SERVICES</span>
                <span class="text-xl text-light">04</span>
            </a>
        </li>
        <li class="h-full">
            <a href="javascript:void(0)"
                class="menu-link w-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral3"
                data-section-id="portfolio-section-v8">
                <span class="text-xl text-light">PORTFOLIO</span>
                <span class="text-xl text-light">05</span>
            </a>
        </li>
        <li class="h-full">
            <a href="javascript:void(0)"
                class="menu-link w-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral3"
                data-section-id="blog-section-v8">
                <span class="text-xl text-light">BLOG</span>
                <span class="text-xl text-light">06</span>
            </a>
        </li>
        <li class="h-full">
            <a href="javascript:void(0)"
                class="menu-link w-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral3"
                data-section-id="contact-section-v8">
                <span class="text-xl text-light">CONTACT</span>
                <span class="text-xl text-light">07</span>
            </a>
        </li>
    </ul>
</div>