<!-- home & small devices menu btn -->
<div
    class="xl:w-20 w-full xl:h-full h-15 xl:relative fixed top-0 left-0 flex xl:flex-col items-center justify-between 4xl:gap-13 xxxl:gap-10 xl:gap-8 lg:gap-6 gap-4 p-6 overflow-hidden shadow-md xl:shadow-none">
    <!-- Home menu btn -->
    <button
        class="menu-toggle-btn home-menu-btn-8 text-xl text-dark dark:text-light xl:w-12 lg:w-10 md:w-9 w-8 xl:h-12 lg:h-10 h-9 xl:min-h-12 lg:min-h-10 md:min-h-9 min-h-8 hidden xl:flex items-center justify-center bg-neutral1 dark:bg-neutral11 border border-neutral2 dark:border-neutral11 rounded-full p-3">
        <i class="hgi-stroke hgi-menu-02"></i>
    </button>

    <!-- menu toggle btn -->
    <button
        class="menu-toggle-btn menu-toggle-btn-8 xl:w-12 lg:w-10 md:w-9 w-8 xl:h-12 lg:h-10 h-9 xl:min-h-12 lg:min-h-10 md:min-h-9 min-h-8 xl:hidden flex items-center justify-center flex-col gap-1 bg-neutral1 dark:bg-neutral11 border border-neutral2 dark:border-neutral11 rounded-full p-3">
        <span class="menu-bar-1 block w-4 h-[2px] duration-500 bg-neutral11 dark:bg-neutral2"></span>
        <span class="menu-bar-2 block w-4 h-[2px] duration-500 bg-neutral11 dark:bg-neutral2"></span>
        <span class="menu-bar-3 block w-4 h-[2px] duration-500 bg-neutral11 dark:bg-neutral2"></span>
    </button>

    <div class="xl:flex hidden xl:flex-col justify-center items-center xxl:gap-6 gap-4 xl:h-full w-full">
        <span class="block xl:w-[1px] w-full xl:h-full h-[1px] bg-neutral3/40"></span>
        <span class="text-base text-dark dark:text-light xl:writing-mode-vertical-rl xl:rotate-180">HIRE</span>
        <span class="block xl:w-[1px] w-full xl:h-full h-[1px] bg-neutral3/40"></span>
    </div>

    <!-- theme toggle -->
    <button
        class="theme-toggle xl:w-12 lg:w-10 w-9 xl:min-w-12 lg:min-w-10 min-w-9 xl:h-12 lg:h-10 h-9 xl:min-h-12 lg:min-h-10 min-h-9 flex items-center justify-center bg-neutral1 dark:bg-neutral11 border border-neutral2 dark:border-neutral11 rounded-full xl:text-2xl lg:text-xl text-lg text-neutral11 dark:text-neutral2 box-hover before:bg-neutral2 dark:before:bg-dark transition-colors duration-200">
        <!-- Sun Icon -->
        <svg class="sun-icon w-6 h-6 hidden text-dark dark:text-light" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        <!-- Moon Icon -->
        <svg class="moon-icon w-6 h-6 hidden text-gray-800 dark:text-gray-200" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
        </svg>
    </button>

</div>