<!-- menu area -->
<div class="menu-area w-full h-screen">
    <!-- menu toggle btn -->
    <div class="absolute top-0 right-0 mt-3 mr-3 z-50 lg:hidden block">
        <button class="menu-toggle-btn flex flex-col gap-1 p-3 bg-light dark:bg-dark rounded-full shadow-md">
            <span class="menu-bar-1 block w-4 h-[2px] duration-500 bg-dark dark:bg-light"></span>
            <span class="menu-bar-2 block w-4 h-[2px] duration-500 bg-dark dark:bg-light"></span>
            <span class="menu-bar-3 block w-4 h-[2px] duration-500 bg-dark dark:bg-light"></span>
        </button>
    </div>

    <div
        class="menu-wrapper lg:relative absolute top-0 left-0 z-40 w-full h-full lg:pt-0 pt-15 -translate-y-[1000%] lg:translate-y-0 duration-500 bg-light dark:bg-dark">
        <div class="w-full lg:h-full lg:flex flex-col overflow-hidden hidden">

            <!-- ABOUT ME -->
            <div class="grid-card-wrapper w-full lg:h-full transition-all duration-500 ease-craftfolio-ease lg:hover:h-[300%] border-r border-b border-neutral7 dark:border-primary-3 overflow-hidden group/grid-card"
                data-section-id="about-section">
                <!-- front -->
                <div class="grid-card front-face lg:h-full w-full relative overflow-hidden cursor-pointer">
                    <div
                        class="flex items-end overflow-hidden lg:h-full w-full transition-all duration-500 ease-craftfolio-ease lg:group-hover/grid-card:opacity-0 lg:group-hover/grid-card:invisible lg:absolute top-0 left-0">
                        <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent1 text-transparent splitting-wrapper pl-3"
                            data-splitting>
                            ABOUT ME
                        </h2>
                    </div>
                    <div class="full-text h-full w-full opacity-0 invisible transition-all duration-500 ease-craftfolio-ease overflow-hidden lg:group-hover/grid-card:opacity-100 lg:group-hover/grid-card:visible hover-cursor hidden lg:block"
                        data-hover-text="View Details">
                        <div class="relative h-full w-full transition-all duration-500 ease-craftfolio-ease xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent7 bg-no-repeat bg-center bg-cover z-10 border-r-4 border-accent1"
                            style="background-image: url(assets/images/bg-noise.webp);">
                            <!-- content -->
                            <div class="flex justify-between h-full">

                                <div class="card-content">
                                    <span
                                        class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border border-accent1 text-accent1 rounded-full inline-block xl:mb-5 mb-3">ABOUT</span>
                                    <span class="full-text-title parallax-title text-accent1 block mb-3">
                                        <span class="block">Product
                                            <span class="font-normal">
                                                Designer
                                            </span>
                                        </span>
                                        <span class="block">
                                            & Developer
                                        </span>
                                    </span>
                                    <span class="text-base xl:text-lg text-accent1">
                                        New York, USA
                                    </span>
                                </div>

                                <!-- button -->
                                <div class="flex items-end">
                                    <div
                                        class="flex items-end justify-start xl:p-10 p-6 absolute xl:-top-16 -top-10 ltr:xl:-right-16 ltr:-right-10 rtl:xl:-left-16 rtl:-left-10 4xl:max-w-[240px] xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] 4xl:max-h-[240px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent1 bg-accent1 bg-opacity-10 rounded-full">
                                        <span class="block 4xl:p-10 p-4 xxl:text-6xl xl:text-5xl text-4xl text-accent1">
                                            <i class="ph ph-smiley"></i>
                                        </span>
                                    </div>

                                    <a href="#" class="block">
                                        <svg class="fill-current text-accent1" xmlns="http://www.w3.org/2000/svg"
                                            width="62" height="42" viewBox="0 0 62 42" fill="none">
                                            <g clip-path="url(#clip0_6378_197)">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                            </g>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SERVICES -->
            <div class="grid-card-wrapper w-full lg:h-full transition-all duration-500 ease-craftfolio-ease lg:hover:h-[300%] border-r border-b border-neutral7 dark:border-primary-3 overflow-hidden group/grid-card"
                data-section-id="service-section">
                <!-- front -->
                <div class="grid-card front-face lg:h-full w-full relative overflow-hidden cursor-pointer">
                    <div
                        class="flex items-end justify-end overflow-hidden lg:h-full w-full transition-all duration-500 ease-craftfolio-ease lg:group-hover/grid-card:opacity-0 lg:group-hover/grid-card:invisible lg:absolute top-0 left-0">
                        <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-primary text-transparent splitting-wrapper pr-3"
                            data-splitting>
                            SERVICES
                        </h2>
                    </div>
                    <div class="full-text h-full w-full opacity-0 invisible transition-all duration-500 ease-craftfolio-ease overflow-hidden lg:group-hover/grid-card:opacity-100 lg:group-hover/grid-card:visible hover-cursor hidden lg:block"
                        data-hover-text="View Details">
                        <div class="relative h-full w-full transition-all duration-500 ease-craftfolio-ease xxl:p-10 xl:p-8 lg:p-6 p-4 bg-primary-5 bg-no-repeat bg-center bg-cover z-10 border-r-4 border-primary"
                            style="background-image: url(assets/images/bg-noise.webp);">
                            <!-- content -->
                            <div class="flex justify-between h-full">

                                <div class="card-content">
                                    <span
                                        class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border border-primary text-primary rounded-full inline-block xl:mb-5 mb-3">
                                        SERVICES
                                    </span>
                                    <span class="full-text-title parallax-title text-primary block mb-3">
                                        <span class="block">Solutions To </span>
                                        <span class="block">Meet Your Goals</span>
                                    </span>
                                    <span class="text-base xl:text-lg text-primary">
                                        Tailored Solutions for Results
                                    </span>
                                </div>
                                <!-- button -->
                                <div class="flex items-end">

                                    <div
                                        class="flex items-end justify-start xl:p-10 p-6 absolute xl:-top-16 -top-10 ltr:xl:-right-16 ltr:-right-10 rtl:xl:-left-16 rtl:-left-10 4xl:max-w-[240px] xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] 4xl:max-h-[240px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent2 bg-accent2 bg-opacity-10 rounded-full">
                                        <span class="block 4xl:p-10 p-4 xxl:text-6xl xl:text-5xl text-4xl text-accent2">
                                            <i class="ph ph-squares-four"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="block">
                                        <svg class="fill-current text-primary" xmlns="http://www.w3.org/2000/svg"
                                            width="62" height="42" viewBox="0 0 62 42" fill="none">
                                            <g clip-path="url(#clip0_6378_197)">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PORTFOLIO -->
            <div class="grid-card-wrapper w-full lg:h-full transition-all duration-500 ease-craftfolio-ease lg:hover:h-[300%] border-r border-b border-neutral7 dark:border-primary-3 overflow-hidden group/grid-card"
                data-section-id="portfolio-section">
                <!-- front -->
                <div class="grid-card front-face lg:h-full w-full relative overflow-hidden cursor-pointer">
                    <div
                        class="flex items-end overflow-hidden lg:h-full w-full transition-all duration-500 ease-craftfolio-ease lg:group-hover/grid-card:opacity-0 lg:group-hover/grid-card:invisible lg:absolute top-0 left-0">
                        <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent3 text-transparent splitting-wrapper pl-3"
                            data-splitting>
                            PORTFOLIO
                        </h2>
                    </div>
                    <div class="full-text h-full w-full opacity-0 invisible transition-all duration-500 ease-craftfolio-ease overflow-hidden lg:group-hover/grid-card:opacity-100 lg:group-hover/grid-card:visible hover-cursor hidden lg:block"
                        data-hover-text="View Details">
                        <div class="relative h-full w-full transition-all duration-500 ease-craftfolio-ease xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent8 bg-no-repeat bg-center bg-cover z-10 border-r-4 border-accent3"
                            style="background-image: url(assets/images/bg-noise.webp);">
                            <!-- content -->
                            <div class="flex justify-between h-full">

                                <div class="card-content">
                                    <span
                                        class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border border-accent3 text-accent3 rounded-full inline-block xl:mb-5 mb-3">PORTFOLIO</span>
                                    <span class="full-text-title parallax-title text-accent3 block mb-3">
                                        <span class="block">Top Word And </span>
                                        <span class="block">Creative Projects</span>
                                    </span>
                                    <span class="text-base xl:text-lg text-accent3">Best Ideas
                                        and
                                        Designs</span>
                                </div>

                                <!-- button -->
                                <div class="flex items-end justify-between">
                                    <div
                                        class="flex items-end justify-start xl:p-10 p-6 absolute xl:-top-16 -top-10 ltr:xl:-right-16 ltr:-right-10 rtl:xl:-left-16 rtl:-left-10 4xl:max-w-[240px] xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] 4xl:max-h-[240px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent3 bg-accent3 bg-opacity-10 rounded-full">
                                        <span class="block 4xl:p-10 p-4 xxl:text-6xl xl:text-5xl text-4xl text-accent3">
                                            <i class="ph ph-briefcase"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="block">
                                        <svg class="fill-current text-accent3" xmlns="http://www.w3.org/2000/svg"
                                            width="62" height="42" viewBox="0 0 62 42" fill="none">
                                            <g clip-path="url(#clip0_6378_197)">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                            </g>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RESUME -->
            <div class="grid-card-wrapper w-full lg:h-full transition-all duration-500 ease-craftfolio-ease lg:hover:h-[300%] border-r border-b border-neutral7 dark:border-primary-3 overflow-hidden group/grid-card"
                data-section-id="resume-section">
                <!-- front -->
                <div class="grid-card front-face lg:h-full w-full relative overflow-hidden cursor-pointer">
                    <div
                        class="flex items-end justify-end overflow-hidden lg:h-full w-full transition-all duration-500 ease-craftfolio-ease lg:group-hover/grid-card:opacity-0 lg:group-hover/grid-card:invisible lg:absolute top-0 left-0">
                        <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent4 text-transparent splitting-wrapper pr-3"
                            data-splitting>
                            RESUME
                        </h2>
                    </div>
                    <div class="full-text h-full w-full opacity-0 invisible transition-all duration-500 ease-craftfolio-ease overflow-hidden lg:group-hover/grid-card:opacity-100 lg:group-hover/grid-card:visible hover-cursor hidden lg:block"
                        data-hover-text="View Details">
                        <div class="relative h-full w-full transition-all duration-500 ease-craftfolio-ease xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent9 bg-no-repeat bg-center bg-cover z-10 border-r-4 border-accent4"
                            style="background-image: url(assets/images/bg-noise.webp);">
                            <!-- content -->
                            <div class="flex justify-between h-full">
                                <div class="card-content">
                                    <span
                                        class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border border-accent4 text-accent4 rounded-full inline-block xl:mb-5 mb-3">RESUME</span>
                                    <span class="full-text-title parallax-title text-accent4 block mb-3">
                                        <span class="block">Showcasing My Talents </span>
                                        <span class="block">in Web Development</span>
                                    </span>
                                    <span class="text-base xl:text-lg text-accent4">Best Ideas
                                        and
                                        Designs</span>
                                </div>

                                <!-- button -->
                                <div class="flex items-end justify-between">
                                    <div
                                        class="flex items-end justify-start xl:p-10 p-6 absolute xl:-top-16 -top-10 ltr:xl:-right-16 ltr:-right-10 rtl:xl:-left-16 rtl:-left-10 4xl:max-w-[240px] xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] 4xl:max-h-[240px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent4 bg-accent4 bg-opacity-10 rounded-full">
                                        <span class="block 4xl:p-10 p-4 xxl:text-6xl xl:text-5xl text-4xl text-accent4">
                                            <i class="ph ph-identification-card"></i>
                                        </span>
                                    </div>

                                    <a href="#" class="block">
                                        <svg class="fill-current text-accent4" xmlns="http://www.w3.org/2000/svg"
                                            width="62" height="42" viewBox="0 0 62 42" fill="none">
                                            <g clip-path="url(#clip0_6378_197)">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SKILLS -->
            <div class="grid-card-wrapper w-full lg:h-full transition-all duration-500 ease-craftfolio-ease lg:hover:h-[300%] border-r border-b border-neutral7 dark:border-primary-3 overflow-hidden group/grid-card"
                data-section-id="skills-section">
                <!-- front -->
                <div class="grid-card front-face lg:h-full w-full relative overflow-hidden cursor-pointer">
                    <div
                        class="flex items-end overflow-hidden lg:h-full w-full transition-all duration-500 ease-craftfolio-ease lg:group-hover/grid-card:opacity-0 lg:group-hover/grid-card:invisible lg:absolute top-0 left-0">
                        <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent5 text-transparent splitting-wrapper pl-3"
                            data-splitting>
                            SKILLS
                        </h2>
                    </div>
                    <div class="full-text h-full w-full opacity-0 invisible transition-all duration-500 ease-craftfolio-ease overflow-hidden lg:group-hover/grid-card:opacity-100 lg:group-hover/grid-card:visible hover-cursor hidden lg:block"
                        data-hover-text="View Details">
                        <div class="relative h-full w-full transition-all duration-500 ease-craftfolio-ease xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent12 bg-no-repeat bg-center bg-cover z-10 border-r-4 border-accent5"
                            style="background-image: url(assets/images/bg-noise.webp);">
                            <!-- content -->
                            <div class="flex justify-between h-full">
                                <div class="card-content">
                                    <span
                                        class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border border-accent5 text-accent5 rounded-full inline-block xl:mb-5 mb-3">SKILLS</span>
                                    <span class="full-text-title parallax-title text-accent5 block mb-3">
                                        <span class="block">Top Skills And </span>
                                        <span class="block">Strengths</span>
                                    </span>
                                    <span class="text-base xl:text-lg text-accent5">Emphasizing core
                                        skills
                                        effectively.</span>
                                </div>

                                <!-- button -->
                                <div class="flex items-end justify-between">

                                    <div
                                        class="flex items-end justify-start xl:p-10 p-6 absolute xl:-top-16 -top-10 ltr:xl:-right-16 ltr:-right-10 rtl:xl:-left-16 rtl:-left-10 4xl:max-w-[240px] xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] 4xl:max-h-[240px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent5 bg-accent5 bg-opacity-10 rounded-full">
                                        <span class="block 4xl:p-10 p-4 xxl:text-6xl xl:text-5xl text-4xl text-accent5">
                                            <i class="ph ph-pen-nib"></i>
                                        </span>
                                    </div>

                                    <a href="#" class="block">
                                        <svg class="fill-current text-accent5" xmlns="http://www.w3.org/2000/svg"
                                            width="62" height="42" viewBox="0 0 62 42" fill="none">
                                            <g clip-path="url(#clip0_6378_197)">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ARTICLES -->
            <div class="grid-card-wrapper w-full lg:h-full transition-all duration-500 ease-craftfolio-ease lg:hover:h-[300%] border-r border-b border-neutral7 dark:border-primary-3 overflow-hidden group/grid-card"
                data-section-id="articles-section">
                <!-- front -->
                <div class="grid-card front-face lg:h-full w-full relative overflow-hidden cursor-pointer">
                    <div
                        class="flex items-end justify-end overflow-hidden lg:h-full w-full transition-all duration-500 ease-craftfolio-ease lg:group-hover/grid-card:opacity-0 lg:group-hover/grid-card:invisible lg:absolute top-0 left-0">
                        <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent6 text-transparent splitting-wrapper pr-3"
                            data-splitting>
                            ARTICLES
                        </h2>
                    </div>
                    <div class="full-text h-full w-full opacity-0 invisible transition-all duration-500 ease-craftfolio-ease overflow-hidden lg:group-hover/grid-card:opacity-100 lg:group-hover/grid-card:visible hover-cursor hidden lg:block"
                        data-hover-text="View Details">
                        <div class="relative h-full w-full transition-all duration-500 ease-craftfolio-ease xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent15 bg-no-repeat bg-center bg-cover z-10 border-r-4 border-accent6"
                            style="background-image: url(assets/images/bg-noise.webp);">
                            <!-- content -->
                            <div class="flex justify-between h-full">

                                <div class="card-content">
                                    <span
                                        class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border border-accent6 text-accent6 rounded-full inline-block xl:mb-5 mb-3">
                                        ARTICLES
                                    </span>
                                    <span class="full-text-title parallax-title text-accent6 block mb-3">
                                        <span class="block">Solutions To </span>
                                        <span class="block">Meet Your Goals</span>
                                    </span>
                                    <span class="text-base xl:text-lg text-accent6">
                                        Tailored Solutions for Results
                                    </span>
                                </div>

                                <!-- button -->
                                <div class="flex items-end justify-between">
                                    <div
                                        class="flex items-end justify-start xl:p-10 p-6 absolute xl:-top-16 -top-10 ltr:xl:-right-16 ltr:-right-10 rtl:xl:-left-16 rtl:-left-10 4xl:max-w-[240px] xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] 4xl:max-h-[240px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent6 bg-accent6 bg-opacity-10 rounded-full">
                                        <span class="block 4xl:p-10 p-4 xxl:text-6xl xl:text-5xl text-4xl text-accent6">
                                            <i class="ph ph-file-text"></i>
                                        </span>
                                    </div>

                                    <a href="#" class="block">
                                        <svg class="fill-current text-accent6" xmlns="http://www.w3.org/2000/svg"
                                            width="62" height="42" viewBox="0 0 62 42" fill="none">
                                            <g clip-path="url(#clip0_6378_197)">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CONTACT ME -->
            <div class="grid-card-wrapper w-full lg:h-full transition-all duration-500 ease-craftfolio-ease lg:hover:h-[300%] border-r border-b border-neutral7 dark:border-primary-3 overflow-hidden group/grid-card"
                data-section-id="contact-section">
                <!-- front -->
                <div class="grid-card front-face lg:h-full w-full relative overflow-hidden cursor-pointer">
                    <div
                        class="flex items-end overflow-hidden lg:h-full w-full transition-all duration-500 ease-craftfolio-ease lg:group-hover/grid-card:opacity-0 lg:group-hover/grid-card:invisible lg:absolute top-0 left-0">
                        <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent13 text-transparent splitting-wrapper pl-3"
                            data-splitting>
                            CONTACT
                        </h2>
                    </div>
                    <div class="full-text h-full w-full opacity-0 invisible transition-all duration-500 ease-craftfolio-ease overflow-hidden lg:group-hover/grid-card:opacity-100 lg:group-hover/grid-card:visible hover-cursor hidden lg:block"
                        data-hover-text="View Details">
                        <div class="relative h-full w-full transition-all duration-500 ease-craftfolio-ease xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent14 bg-no-repeat bg-center bg-cover z-10 border-r-4 border-accent13"
                            style="background-image: url(assets/images/bg-noise.webp);">
                            <!-- content -->
                            <div class="flex justify-between h-full">
                                <div class="card-content">
                                    <span
                                        class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border border-accent13 text-accent13 rounded-full inline-block xl:mb-5 mb-3">CONTACT
                                        ME</span>
                                    <span class="full-text-title parallax-title text-accent13 block mb-3">
                                        <span class="block">
                                            Let’s Word A
                                        </span>
                                        <span class="block">
                                            Conversation
                                        </span>
                                    </span>
                                    <span class="text-base xl:text-lg text-accent13">
                                        Start a Conversation Today
                                    </span>
                                </div>

                                <!-- button -->
                                <div class="flex items-end justify-between">
                                    <a href="#" class="block">
                                        <svg class="fill-current text-accent13" xmlns="http://www.w3.org/2000/svg"
                                            width="62" height="42" viewBox="0 0 62 42" fill="none">
                                            <g clip-path="url(#clip0_6378_197)">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                            </g>
                                        </svg>
                                    </a>
                                    <div
                                        class="flex items-end justify-start xl:p-10 p-6 absolute xl:-top-16 -top-10 ltr:xl:-right-16 ltr:-right-10 rtl:xl:-left-16 rtl:-left-10 4xl:max-w-[240px] xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] 4xl:max-h-[240px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent13 bg-accent13 bg-opacity-10 rounded-full">
                                        <span
                                            class="block 4xl:p-10 p-4 xxl:text-6xl xl:text-5xl text-4xl text-accent13">
                                            <i class="ph ph-phone-call"></i>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full h-full lg:hidden flex flex-col overflow-hidden">

            <!-- ABOUT ME -->
            <div class="grid-card-wrapper w-full h-full border-b border-neutral7 dark:border-primary-3 overflow-hidden"
                data-section-id="about-section">
                <!-- front -->
                <div class="grid-card h-full w-full relative overflow-hidden cursor-pointer">
                    <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent1 text-transparent splitting-wrapper text-end pl-3"
                        data-splitting>
                        ABOUT ME
                    </h2>
                </div>
            </div>

            <!-- SERVICES -->
            <div class="grid-card-wrapper w-full h-full border-b border-neutral7 dark:border-primary-3 overflow-hidden"
                data-section-id="service-section">
                <!-- front -->
                <div class="grid-card h-full w-full relative overflow-hidden cursor-pointer">
                    <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-primary text-transparent splitting-wrapper text-start pr-3"
                        data-splitting>
                        SERVICES
                    </h2>
                </div>
            </div>

            <!-- PORTFOLIO -->
            <div class="grid-card-wrapper w-full h-full border-b border-neutral7 dark:border-primary-3 overflow-hidden"
                data-section-id="portfolio-section">
                <!-- front -->
                <div class="grid-card h-full w-full relative overflow-hidden cursor-pointer">
                    <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent3 text-transparent splitting-wrapper text-end pl-3"
                        data-splitting>
                        PORTFOLIO
                    </h2>
                </div>
            </div>

            <!-- RESUME -->
            <div class="grid-card-wrapper w-full h-full border-b border-neutral7 dark:border-primary-3 overflow-hidden"
                data-section-id="resume-section">
                <!-- front -->
                <div class="grid-card h-full w-full relative overflow-hidden cursor-pointer">
                    <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent4 text-transparent splitting-wrapper text-start pr-3"
                        data-splitting>
                        RESUME
                    </h2>
                </div>
            </div>

            <!-- SKILLS -->
            <div class="grid-card-wrapper w-full h-full border-b border-neutral7 dark:border-primary-3 overflow-hidden"
                data-section-id="skills-section">
                <!-- front -->
                <div class="grid-card h-full w-full relative overflow-hidden cursor-pointer">
                    <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent5 text-transparent splitting-wrapper text-end pl-3"
                        data-splitting>
                        SKILLS
                    </h2>
                </div>
            </div>

            <!-- ARTICLES -->
            <div class="grid-card-wrapper w-full h-full border-b border-neutral7 dark:border-primary-3 overflow-hidden"
                data-section-id="articles-section">
                <!-- front -->
                <div class="grid-card h-full w-full relative overflow-hidden cursor-pointer">
                    <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent6 text-transparent splitting-wrapper text-start pr-3"
                        data-splitting>
                        ARTICLES
                    </h2>
                </div>
            </div>

            <!-- CONTACT ME -->
            <div class="grid-card-wrapper w-full h-full border-b border-neutral7 dark:border-primary-3 overflow-hidden"
                data-section-id="contact-section">
                <!-- front -->
                <div class="grid-card h-full w-full relative overflow-hidden cursor-pointer">
                    <h2 class="initial-text initial-text-size text-stroke-1 text-stroke-accent13 text-transparent splitting-wrapper text-end pl-3"
                        data-splitting>
                        CONTACT
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>