<!-- menu list area v3-->
<div
    class="menu-wrapper-3 fixed top-0 lrt:left-0 rtl:right-0 z-50 bg-dark/40 backdrop-blur-sm w-0 h-full transition-all duration-500 ease-linear overflow-hidden ltr:xl:ml-24 rtl:xl:mr-24 mt-24 xl:mt-0">
    <div
        class="main-menu-3 w-0 h-full bg-neutral5 dark:bg-neutral11 transition-all duration-1000 ease-linear delay-300 rounded-lg">

        <ul class="menu-items flex flex-col gap-6 h-full overflow-y-auto xl:p-10 lg:p-8 p-6 xl:pb-24 lg:pb-24 pb-24">

            <li class="menu-link">
                <a href="index-v3.html" class="slide-vertical text-h2 text-nowrap" data-splitting>
                    HOME
                </a>
            </li>
            <li class="menu-link">
                <a href="about-me-v3.html" class="slide-vertical text-h2 text-nowrap" data-splitting>
                    ABOUT ME
                </a>
            </li>
            <li class="menu-item">
                <button class="slide-vertical text-h2 text-nowrap" data-splitting>PORTFOLIO
                    <span class="menu-icon text-dark dark:text-light"><i class="ph-fill ph-caret-down"></i></span>
                </button>
                <ul class="sub-menu flex flex-col xl:pl-6 pl-4">
                    <li class="menu-link">
                        <a href="portfolio-v3.html" class="slide-horizontal text-h3 text-nowrap" data-splitting>
                            PORTFOLIO
                        </a>
                    </li>
                    <li class="menu-link">
                        <a href="portfolio-details-v3.html" class="slide-horizontal text-h3 text-nowrap" data-splitting>
                            PORTFOLIO DETAILS
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-link">
                <a href="services-v3.html" class="slide-vertical text-h2 text-nowrap" data-splitting>
                    SERVICES
                </a>
            </li>
            <li class="menu-link">
                <a href="resume-v3.html" class="slide-vertical text-h2 text-nowrap" data-splitting>
                    RESUME
                </a>
            </li>
            <li class="menu-item">
                <button class="slide-vertical text-h2 text-nowrap" data-splitting>ARTICLE
                    <span class="menu-icon text-dark dark:text-light"><i class="ph-fill ph-caret-down"></i></span>
                </button>
                <ul class="sub-menu flex flex-col xl:pl-6 pl-4">
                    <li class="menu-link">
                        <a href="articles-v3.html" class="slide-horizontal text-h3 text-nowrap" data-splitting>
                            ARTICLE
                        </a>
                    </li>
                    <li class="menu-link">
                        <a href="blog-details-v3.html" class="slide-horizontal text-h3 text-nowrap" data-splitting>
                            ARTICLE DETAILS
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-link">
                <a href="contact-v3.html" class="slide-vertical text-h2 text-nowrap" data-splitting>
                    CONTACT ME
                </a>
            </li>

        </ul>
    </div>
</div>