<!-- menu wrapper -->
<div
    class="menu-wrapper-5 fixed top-0 left-0 z-50 bg-dark dark:bg-light w-full h-0 transition-all duration-500 ease-linear overflow-hidden">

    <!-- menu close btn -->
    <button
        class="menu-close-btn-5 ml-auto mt-5 mr-5 flex items-center justify-center h-9 w-9 rounded-full bg-primary text-light dark:text-dark">
        <i class="hgi-stroke hgi-cancel-01"></i>
    </button>
    <!-- menu -->

    <ul class="main-menu-5 flex flex-col justify-center h-full gap-6 p-6">
        <li>
            <a href="javascript:void(0)"
                class="menu-link w-full h-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral11"
                data-section-id="home-section-v5">
                <span class="text-xl text-light dark:text-dark">HOME</span>
                <span
                    class="f-center lg:size-9 size-8 lg:text-lg text-base text-dark dark:text-light bg-light dark:bg-dark rounded-full">
                    <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)"
                class="menu-link w-full h-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral11"
                data-section-id="about-section-v5">
                <span class="text-xl text-light dark:text-dark">ABOUT</span>
                <span
                    class="f-center lg:size-9 size-8 lg:text-lg text-base text-dark dark:text-light bg-light dark:bg-dark rounded-full">
                    <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)"
                class="menu-link w-full h-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral11"
                data-section-id="services-section-v5">
                <span class="text-xl text-light dark:text-dark">SERVICES</span>
                <span
                    class="f-center lg:size-9 size-8 lg:text-lg text-base text-dark dark:text-light bg-light dark:bg-dark rounded-full">
                    <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)"
                class="menu-link w-full h-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral11"
                data-section-id="portfolio-section-v5">
                <span class="text-xl text-light dark:text-dark">PORTFOLIO</span>
                <span
                    class="f-center lg:size-9 size-8 lg:text-lg text-base text-dark dark:text-light bg-light dark:bg-dark rounded-full">
                    <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)"
                class="menu-link w-full h-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral11"
                data-section-id="resume-section-v5">
                <span class="text-xl text-light dark:text-dark">RESUME</span>
                <span
                    class="f-center lg:size-9 size-8 lg:text-lg text-base text-dark dark:text-light bg-light dark:bg-dark rounded-full">
                    <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)"
                class="menu-link w-full h-full flex items-center justify-between border-b border-neutral3/40 dark:border-neutral11"
                data-section-id="contact-section-v5">
                <span class="text-xl text-light dark:text-dark">CONTACT</span>
                <span
                    class="f-center lg:size-9 size-8 lg:text-lg text-base text-dark dark:text-light bg-light dark:bg-dark rounded-full">
                    <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                </span>
            </a>
        </li>
    </ul>
</div>