<div class="menu-wrapper-2 fixed lg:top-10 top-8 lg:left-10 left-0 lg:right-10 right-0 z-50">
    <!-- Menu Button -->
    <button
        class="menu-toggle-btn menu-btn-2 4xl:size-15 xl:size-12 lg:size-10 size-9 flex items-center justify-center flex-col gap-1 bg-primary rounded-full fixed top-4 ltr:right-4 rtl:left-4 z-10 p-3 shadow-md">
        <span class="menu-bar-1 block w-4 h-[2px] duration-500 bg-dark dark:bg-light"></span>
        <span class="menu-bar-2 block w-4 h-[2px] duration-500 bg-dark dark:bg-light"></span>
        <span class="menu-bar-3 block w-4 h-[2px] duration-500 bg-dark dark:bg-light"></span>
    </button>
    <!-- Menu items -->
    <div
        class="main-menu-2 absolute left-0 top-0 -z-10 flex h-0 w-full flex-col items-center justify-center rounded-xl bg-neutral2 opacity-0 transition-all duration-500 ease-in-out dark:bg-neutral11 overflow-y-auto">

        <ul class="menu-items flex flex-col justify-center gap-3 lg:gap-4">
            <li class="menu-link">
                <a href="index-v2.html" class="slide-vertical text-h2" data-splitting>
                    HOME
                </a>
            </li>
            <li class="menu-link">
                <a href="about-me-v2.html" class="slide-vertical text-h2" data-splitting>
                    ABOUT ME
                </a>
            </li>
            <li class="menu-item">
                <button class="slide-vertical text-h2" data-splitting>PORTFOLIO
                    <span class="menu-icon text-dark dark:text-light"><i class="ph-fill ph-caret-down"></i></span>
                </button>
                <ul class="sub-menu flex flex-col gap-2 pl-3 lg:gap-3">
                    <li class="menu-link">
                        <a href="portfolio-v2.html" class="slide-horizontal text-h3" data-splitting>
                            PORTFOLIO
                        </a>
                    </li>
                    <li class="menu-link">
                        <a href="portfolio-details-v2.html" class="slide-horizontal text-h3" data-splitting>
                            PORTFOLIO DETAILS
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-link">
                <a href="services-v2.html" class="slide-vertical text-h2" data-splitting>
                    SERVICES
                </a>
            </li>
            <li class="menu-link">
                <a href="resume-v2.html" class="slide-vertical text-h2" data-splitting>
                    RESUME
                </a>
            </li>
            <li class="menu-item">
                <button class="slide-vertical text-h2" data-splitting>ARTICLE
                    <span class="menu-icon text-dark dark:text-light"><i class="ph-fill ph-caret-down"></i></span>
                </button>
                <ul class="sub-menu flex flex-col gap-2 pl-3 lg:gap-3">
                    <li class="menu-link">
                        <a href="articles-v2.html" class="slide-horizontal text-h3" data-splitting>
                            ARTICLE
                        </a>
                    </li>
                    <li class="menu-link">
                        <a href="blog-details-v2.html" class="slide-horizontal text-h3" data-splitting>
                            ARTICLE DETAILS
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-link">
                <a href="contact-v2.html" class="slide-vertical text-h2" data-splitting>
                    CONTACT ME
                </a>
            </li>
        </ul>
    </div>
</div>