<div class="menu-wrapper-6 absolute lg:top-10 top-8 lg:left-10 left-0 lg:right-10 right-0 z-50">
    <!-- Menu Button -->
    <button
        class="menu-toggle-btn menu-btn-6 4xl:size-15 xl:size-12 lg:size-10 size-9 flex items-center justify-center flex-col gap-1 bg-accent2 rounded-full absolute top-4 ltr:right-4 rtl:left-4 z-10 p-3 shadow-md">
        <span class="menu-bar-1 block w-4 h-[2px] duration-500 bg-dark dark:bg-light"></span>
        <span class="menu-bar-2 block w-4 h-[2px] duration-500 bg-dark dark:bg-light"></span>
        <span class="menu-bar-3 block w-4 h-[2px] duration-500 bg-dark dark:bg-light"></span>
    </button>
    <!-- Menu items -->
    <div
        class="main-menu-6 fixed ltr:right-0 rtl:left-0 top-0 -z-10 flex h-full md:w-1/2 xs:w-2/3 w-full flex-col items-center justify-center xs:rounded-l-[5rem] bg-neutral2 transition-all duration-500 ease-in-out dark:bg-neutral11 overflow-y-auto">

        <ul class="menu-items flex flex-col">
            <li class="menu-link">
                <a href="index-v6.html" class="slide-vertical display-2 font-black" data-splitting>
                    HOME
                </a>
            </li>
            <li class="menu-link">
                <a href="about-me-v6.html" class="slide-vertical display-2 font-black" data-splitting>
                    ABOUT ME
                </a>
            </li>
            <li class="menu-link">
                <a href="portfolio-v6.html" class="slide-vertical display-2 font-black" data-splitting>
                    PORTFOLIO
                </a>
            </li>
            <li class="menu-link">
                <a href="services-v6.html" class="slide-vertical display-2 font-black" data-splitting>
                    SERVICES
                </a>
            </li>
            <li class="menu-link">
                <a href="resume-v6.html" class="slide-vertical display-2 font-black" data-splitting>
                    RESUME
                </a>
            </li>
            <li class="menu-link">
                <a href="contact-v6.html" class="slide-vertical display-2 font-black" data-splitting>
                    CONTACT
                </a>
            </li>
        </ul>
    </div>
</div>