<!-- pagination v4 -->
<div class="flex justify-between xl:my-30 lg:my-20 md:my-15 my-10" data-aos="fade-up">
    <div class="w-1/2">
        <a href="#">
            <div class="flex items-center gap-3 mb-3">
                <span class="flex lg:text-xl text-lg text-neutral11 dark:text-neutral1">
                    <i class="ph ph-arrow-up-left"></i>
                </span>
                <span class="lg:text-lg text-base text-neutral11 dark:text-neutral1">Prev
                    Post</span>
            </div>

            <h3
                class="prev-post-title text-dark dark:text-light lg:mb-4 mb-3 transition-all duration-300 hover:text-stroke-1 text-stroke-dark dark:text-stroke-light hover:text-transparent dark:hover:text-transparent hidden xs:block">
                Search Strategy
            </h3>
        </a>
    </div>
    <div class="w-1/2 text-end">
        <a href="#">
            <div class="flex items-center justify-end gap-3 mb-3">
                <span class="lg:text-lg text-base text-neutral11 dark:text-neutral1">Next
                    Post</span>
                <span class="flex lg:text-xl text-lg text-neutral11 dark:text-neutral1">
                    <i class="ph ph-arrow-up-right"></i>
                </span>
            </div>

            <h3
                class="next-post-title text-dark dark:text-light lg:mb-4 mb-3 transition-all duration-300 hover:text-stroke-1 text-stroke-dark dark:text-stroke-light hover:text-transparent dark:hover:text-transparent hidden xs:block">
                Digital Marketing
            </h3>
        </a>
    </div>
</div>