<!-- portfolio section start -->
<div id="portfolio-section-v5" class="menu-item relative z-40 xl:w-36 w-0 h-full xl:duration-1000 overflow-hidden"
    data-section-id="portfolio-section-v5">
    <div
        class="menu-link flex relative z-40 items-center justify-between -rotate-180 w-full h-full writing-mode-vertical-rl py-6 cursor-pointer bg-accent22">
        <h2 class="text-dark">PORTFOLIO</h2>
        <button
            class="xxl:size-15 xl:size-12 lg:size-10 size-9 xxl:text-2xl xl:text-xl lg:text-lg text-base text-light bg-dark rounded-full">
            <i class="hgi-stroke hgi-arrow-down-left-01"></i>
        </button>
    </div>
    <div
        class="overlay-v5 overlay-prev w-full h-full absolute top-0 left-0 z-30 transition-all duration-500 delay-300 translate-x-0 bg-accent22">
    </div>
    <div
        class="overlay-v5 overlay-next w-full h-full absolute top-0 right-0 z-30 transition-all duration-1000 delay-1000 translate-x-full bg-accent23">
    </div>

    <!-- portfolio content -->
    <div class="menu-content transition-all duration-0 opacity-0 hidden xxxl:p-15 xl:p-12 lg:p-10 md:p-8 sm:p-6 p-4">

        <div class="lg:mb-15 md:mb-10 mb-8">
            <div class="flex items-center justify-between flex-wrap">
                <span
                    class="text-sm xl:px-3 px-2 py-1.5 text-dark dark:text-light border-[0.5px] border-dark dark:border-light rounded-full">
                    PORTFOLIO
                </span>
                <a href="mailto:xyz@example.com"
                    class="flex items-center gap-2 xl:py-3 xs:py-2 py-1.5 xl:px-6 xs:px-4 px-2.5 rounded-full bg-primary text-light text-base xl:text-lg group/btn">
                    Contact Me
                    <span class="flex xl:text-2xl text-xl duration-500 group-hover/btn:rotate-90">
                        <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                    </span>
                </a>
            </div>
        </div>

        <!-- portfolio slider -->
        <div class="flex md:gap-2 gap-4 md:flex-row flex-col relative">
            <div class="swiper portfolio-swiper md:w-11/12">
                <div
                    class="swiper-wrapper relative w-full tall-xl:max-h-[800px] wide-tall-md:max-h-[650px] md:max-h-[600px] max-h-[400px] h-full">
                    <div class="swiper-slide relative w-full h-full overflow-hidden hover-cursor popup-btn"
                        data-popup-id="portfolio-popup"
                        data-title="Transforming Ideas into Beautifully Designed Digital Projects"
                        data-img="assets/images/portfolio-slider-1.webp" data-hover-text="DETAILS">
                        <a href="javascript:void(0)" class="block w-full h-full">
                            <div
                                class="portfolio-item w-full h-full p-3 border border-neutral3/20 dark:border-neutral11 rounded-lg">
                                <img class="w-full h-full rounded-lg object-cover"
                                    src="assets/images/portfolio-slider-1.webp" alt="portfolio image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide relative w-full h-full overflow-hidden hover-cursor popup-btn"
                        data-popup-id="portfolio-popup"
                        data-title="Creating Dynamic User Interfaces with Intuitive Design"
                        data-img="assets/images/portfolio-slider-2.webp" data-hover-text="DETAILS">
                        <a href="javascript:void(0)" class="block w-full h-full">
                            <div
                                class="portfolio-item w-full h-full p-3 border border-neutral3/20 dark:border-neutral11 rounded-lg">
                                <img class="w-full h-full rounded-lg object-cover"
                                    src="assets/images/portfolio-slider-2.webp" alt="portfolio image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide relative w-full h-full overflow-hidden hover-cursor popup-btn"
                        data-popup-id="portfolio-popup"
                        data-title="Highlighting Diverse Projects That Blend Function and Style"
                        data-img="assets/images/portfolio-slider-3.webp" data-hover-text="DETAILS">
                        <a href="javascript:void(0)" class="block w-full h-full">
                            <div
                                class="portfolio-item w-full h-full p-3 border border-neutral3/20 dark:border-neutral11 rounded-lg">
                                <img class="w-full h-full rounded-lg object-cover"
                                    src="assets/images/portfolio-slider-3.webp" alt="portfolio image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide relative w-full h-full overflow-hidden hover-cursor popup-btn"
                        data-popup-id="portfolio-popup"
                        data-title="Showcasing My Best Work Across Various Digital Projects"
                        data-img="assets/images/portfolio-slider-1.webp" data-hover-text="DETAILS">
                        <a href="javascript:void(0)" class="block w-full h-full">
                            <div
                                class="portfolio-item w-full h-full p-3 border border-neutral3/20 dark:border-neutral11 rounded-lg">
                                <img class="w-full h-full rounded-lg object-cover"
                                    src="assets/images/portfolio-slider-1.webp" alt="portfolio image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide relative w-full h-full overflow-hidden hover-cursor popup-btn"
                        data-popup-id="portfolio-popup"
                        data-title="Unique Projects Tailored for Impactful User Experiences Online"
                        data-img="assets/images/portfolio-slider-2.webp" data-hover-text="DETAILS">
                        <a href="javascript:void(0)" class="block w-full h-full">
                            <div
                                class="portfolio-item w-full h-full p-3 border border-neutral3/20 dark:border-neutral11 rounded-lg">
                                <img class="w-full h-full rounded-lg object-cover"
                                    src="assets/images/portfolio-slider-2.webp" alt="portfolio image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide relative w-full h-full overflow-hidden hover-cursor popup-btn"
                        data-popup-id="portfolio-popup"
                        data-title="Transforming Ideas into Beautifully Designed Digital Projects"
                        data-img="assets/images/portfolio-slider-3.webp" data-hover-text="DETAILS">
                        <a href="javascript:void(0)" class="block w-full h-full">
                            <div
                                class="portfolio-item w-full h-full p-3 border border-neutral3/20 dark:border-neutral11 rounded-lg">
                                <img class="w-full h-full rounded-lg object-cover"
                                    src="assets/images/portfolio-slider-3.webp" alt="portfolio image">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-pagination md:w-1/12"></div>
        </div>

    </div>
</div>
<!-- portfolio section end -->