<!-- portfolio details popup -->
<div id="portfolio-popup"
    class="popup fixed top-0 left-0 bottom-0 z-50 p-3 w-full h-full bg-neutral3/60 dark:bg-neutral12/80 backdrop-blur-3xl overflow-hidden hidden">
    <div
        class="popup-content max-w-[1320px] bg-white dark:bg-dark w-full h-full mx-auto rounded-lg 4xl:px-15 xl:px-10 lg:px-8 sm:px-6 p-4 overflow-hidden overflow-y-auto">
        <!-- popup close btn -->
        <div class="flex justify-end mb-3">
            <button
                class="close-popup 4xl:size-15 xxxl:size-13 xxl:size-11 size-9 xl:text-2xl lg:text-xl text-lg text-dark dark:text-light border border-neutral3/40 rounded-full flex items-center justify-center box-hover before:bg-primary">
                <i class="hgi-stroke hgi-cancel-01"></i>
            </button>
        </div>

        <!-- content -->

        <!-- portfolio details -->
        <div
            class="flex flex-col xxxl:gap-15 xxl:gap-12 lg:gap-10 md:gap-8 sm:gap-6 gap-4 xxl:px-20 xl:px-15 lg:px-10 md:px-8 sm:px-6 px-4 xl:py-10 md:py-8 py-6 rounded-xl bg-dark dark:bg-light xl:mb-10 lg:mb-8 mb-6">
            <h1 class="title text-light dark:text-dark text-center">A Visual Identity Triumph </h1>
            <div class="meta-data flex items-center justify-between flex-wrap sm:flex-nowrap gap-4">

                <div class="flex flex-col sm:items-center gap-2">
                    <div class="flex sm:items-center gap-2">
                        <span class="text-lg font-medium text-light dark:text-dark flex">
                            <i class="hgi-stroke hgi-user"></i>
                        </span>
                        <span class="text-base text-light dark:text-dark font-medium">CLIENT</span>
                    </div>
                    <span class="text-base lg:text-lg xl:text-xl text-light dark:text-dark font-medium">
                        Golynur Rahman Shanto
                    </span>
                </div>

                <div class="flex flex-col sm:items-center gap-2">
                    <div class="flex sm:items-center gap-2">
                        <span class="text-lg font-medium text-light dark:text-dark flex">
                            <i class="hgi-stroke hgi-calendar-01"></i>
                        </span>
                        <span class="text-base text-light dark:text-dark font-medium">DATE</span>
                    </div>
                    <span class="text-base lg:text-lg xl:text-xl text-light dark:text-dark font-medium">
                        6, August 2024
                    </span>
                </div>

                <div class="flex flex-col sm:items-center gap-2">
                    <div class="flex sm:items-center gap-2">
                        <span class="text-lg font-medium text-light dark:text-dark flex">
                            <i class="hgi-stroke hgi-left-to-right-list-bullet"></i>
                        </span>
                        <span class="text-base text-light dark:text-dark font-medium">CATEGORIES</span>
                    </div>
                    <span class="text-base lg:text-lg xl:text-xl text-light dark:text-dark font-medium">
                        Web Design
                    </span>
                </div>
            </div>
        </div>

        <!-- portfolio banner -->
        <div class="xl:mb-10 lg:mb-8 mb-6 max-h-[600px] w-full h-full">
            <img class="popup-post-banner w-full h-full object-cover rounded-xl"
                src="assets/images/project-banner-v6.webp" alt="banner">
        </div>

        <!-- portfolio description -->
        <div
            class="flex justify-between xl:flex-row lg:flex-col md:flex-row flex-col gap-4 xl:mb-10 lg:mb-8 mb-6 xxxl:p-13 xxl:p-9 lg:p-7 md:p-5 p-3 rounded-xl border border-neutral3/20 dark:border-neutral11">
            <div class="w-full flex gap-2">
                <span class="text-base lg:text-lg font-medium text-dark dark:text-light">(01)</span>
                <h4 class="text-dark dark:text-light font-semibold">Project Overview</h4>
            </div>
            <div class="w-full">
                <p class="text-neutral11 dark:text-neutral2 font-normal lg:text-lg text-base">
                    The project aimed to design develop a responsive, user-centered e-commerce website
                    for a
                    retail brand, providing a seamless shopping experience. allowing for wireframes and
                    prototypes that aligned with the brand's visual style and functional requirements.
                </p>
            </div>
        </div>


        <div
            class="flex justify-between xl:flex-row lg:flex-col md:flex-row flex-col gap-4 xl:mb-10 lg:mb-8 mb-6 xxxl:p-13 xxl:p-9 lg:p-7 md:p-5 p-3 rounded-xl border border-neutral3/20 dark:border-neutral11">
            <div class="w-full flex gap-2">
                <span class="text-base lg:text-lg font-medium text-dark dark:text-light">(02)</span>
                <h4 class="text-dark dark:text-light font-semibold">Key Achievements</h4>
            </div>
            <div class="w-full">
                <ul class="flex flex-col xxxl:gap-7 lg:gap-5 md:gap-3 gap-2">
                    <li class="list-inside list-disc text-neutral11 dark:text-neutral2">
                        <span class="text-dark dark:text-light lg:text-lg text-base font-medium">
                            Enhanced User Experience:
                        </span>
                        <span class="text-neutral11 dark:text-neutral2 font-normal lg:text-lg text-base">
                            Implemented intuitive navigation and personalized recommendations, leading
                            to a
                            25%
                            increase in user engagement.
                        </span>
                    </li>
                    <li class="list-inside list-disc text-neutral11 dark:text-neutral2">
                        <span class="text-dark dark:text-light lg:text-lg text-base font-medium">
                            Optimized Performance:
                        </span>
                        <span class="text-neutral11 dark:text-neutral2 font-normal lg:text-lg text-base">
                            Achieved a 1.5-second load time across pages by optimizing assets and
                            implementing
                            lazy loading.
                        </span>
                    </li>
                    <li class="list-inside list-disc text-neutral11 dark:text-neutral2">
                        <span class="text-dark dark:text-light lg:text-lg text-base font-medium">
                            Responsive Design:
                        </span>
                        <span class="text-neutral11 dark:text-neutral2 font-normal lg:text-lg text-base">
                            Created a fully responsive layout ensuring consistency across desktop,
                            tablet,
                            and
                            mobile devices.
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div
            class="flex justify-between xl:flex-row lg:flex-col md:flex-row flex-col gap-4 xl:mb-10 lg:mb-8 mb-6 xxxl:p-13 xxl:p-9 lg:p-7 md:p-5 p-3 rounded-xl border border-neutral3/20 dark:border-neutral11">
            <div class="w-full flex gap-2">
                <span class="text-base lg:text-lg font-medium text-dark dark:text-light">(03)</span>
                <h4 class="text-dark dark:text-light font-semibold">Challenges and Solutions</h4>
            </div>
            <div class="w-full">
                <p class="text-neutral11 dark:text-neutral2 font-normal lg:text-lg text-base">
                    One of the major challenges was maintaining high performance as the site expanded
                    with
                    new
                    features. This was addressed by implementing advanced caching techniques and
                    optimizing
                    backend processes, ensuring a smooth experience for users on all devices.
                </p>
            </div>
        </div>

        <div class="flex items-center justify-between flex-wrap sm:flex-nowrap xxl:gap-10 xl:gap-8 lg:gap-6 gap-4">
            <div class="w-full">
                <img src="assets/images/portfolio-project-9.webp" alt="post image" class="w-full h-full rounded-xl">
            </div>
            <div class="w-full">
                <img src="assets/images/portfolio-project-10.webp" alt="post image" class="w-full h-full rounded-xl">
            </div>
        </div>

    </div>
</div>
<!-- portfolio details popup end -->