<!-- PRICING v4 -->
<div class="flex flex-col xl:gap-12 lg:gap-10 md:gap-8 gap-6  xl:mb-30 lg:mb-20 md:mb-15 mb-10" data-aos="fade-up">

    <div>
        <span
            class="text-sm xl:px-3 px-2 py-1.5 text-dark dark:text-neutral2 border-[0.5px] border-dark dark:border-neutral2 rounded-full inline-block lg:mb-5 mb-3">
            PRICING
        </span>
        <h2
            class="text-dark dark:text-light lg:mb-4 mb-3 transition-all duration-300 hover:text-stroke-1 text-stroke-dark dark:text-stroke-light hover:text-transparent dark:hover:text-transparent">
            Pricing plan
        </h2>
        <p class="text-base lg:text-xl text-dark dark:text-neutral2 font-thin">
            We get involved with clients to solve their design problems and provide
            more-value™️ to them
        </p>
    </div>

    <!-- price card -->
    <div class="grid grid-cols-1 xxl:grid-cols-3 xl:grid-cols-2 md:grid-cols-3 sm:grid-cols-2 xl:gap-6 gap-4">

        <div
            class="col-span-1 xxl:p-8 xl:p-6 p-4 bg-neutral2/40 hover:bg-neutral2 dark:bg-dark border border-neutral3/20 dark:border-neutral11 hover:border-b-4 hover:border-accent2 rounded duration-500">
            <div class="xl:mb-8 lg:mb-6 mb-4 text-center">
                <span
                    class="xl:px-3 px-2 py-1.5 text-dark dark:text-light bg-light dark:bg-dark border border-neutral3/30 rounded-full inline-block">
                    Basic
                </span>
            </div>
            <div class="xl:mb-12 lg:mb-10 mb-8">
                <div class="flex gap-2 items-end justify-center lg:mb-4 mb-3 cursor-effect-small">
                    <span class="lg:text-lg text-base text-dark dark:text-neutral1 font-medium">$</span>
                    <span class="display-4 text-dark dark:text-neutral1">19</span>
                    <span class="lg:text-lg text-base text-dark dark:text-neutral1 font-medium">/Per
                        hours</span>
                </div>
                <p class="lg:text-lg text-base text-dark dark:text-neutral3 font-thin text-center">
                    We get involved with clients to solve their design problems.
                </p>
            </div>
            <div class="xl:mb-10 lg:mb-8 mb-6">
                <ul class="flex flex-col lg:gap-4 gap-3">
                    <li class="text-base text-dark dark:text-neutral1 font-thin text-center">
                        Need your
                        wireframe </li>
                    <li class="text-base text-dark dark:text-neutral1 font-thin text-center">
                        Design with
                        Figma, Framer </li>
                    <li class="text-base text-dark dark:text-neutral1 font-thin text-center">
                        Support 6
                        months
                    </li>
                </ul>
            </div>
            <a href="#"
                class="block p-2 text-center text-primary hover:text-dark text-base font-medium border border-primary hover:bg-primary rounded-full duration-500">
                Get Started
            </a>
        </div>

        <div
            class="col-span-1 xxl:p-8 xl:p-6 p-4 bg-neutral2/40 hover:bg-neutral2 dark:bg-dark border border-neutral3/20 dark:border-neutral11 hover:border-b-4 hover:border-accent2 rounded duration-500">
            <div class="xl:mb-8 lg:mb-6 mb-4 text-center">
                <span
                    class="xl:px-3 px-2 py-1.5 text-dark dark:text-light bg-light dark:bg-neutral12 rounded-full inline-block">
                    Standard
                </span>
            </div>
            <div class="xl:mb-12 lg:mb-10 mb-8">
                <div class="flex gap-2 items-end justify-center lg:mb-4 mb-3 cursor-effect-small">
                    <span class="lg:text-lg text-base text-dark dark:text-neutral1 font-medium">$</span>
                    <span class="display-4 text-dark dark:text-neutral1">30</span>
                    <span class="lg:text-lg text-base text-dark dark:text-neutral1 font-medium">/Per
                        hours</span>
                </div>
                <p class="lg:text-lg text-base text-dark dark:text-neutral3 font-thin text-center">
                    We get involved with clients to solve their design problems.
                </p>
            </div>
            <div class="xl:mb-10 lg:mb-8 mb-6">
                <ul class="flex flex-col lg:gap-4 gap-3">
                    <li class="text-base text-dark dark:text-neutral1 font-thin text-center">
                        Need your
                        wireframe </li>
                    <li class="text-base text-dark dark:text-neutral1 font-thin text-center">
                        Design with
                        Figma, Framer </li>
                    <li class="text-base text-dark dark:text-neutral1 font-thin text-center">
                        Support 6
                        months
                    </li>
                </ul>
            </div>
            <a href="#"
                class="block p-2 text-center text-primary hover:text-dark text-base font-medium border border-primary hover:bg-primary rounded-full duration-500">
                Get Started
            </a>
        </div>

        <div
            class="col-span-1 xxl:p-8 xl:p-6 p-4 bg-neutral2/40 hover:bg-neutral2 dark:bg-dark border border-neutral3/20 dark:border-neutral11 hover:border-b-4 hover:border-accent2 rounded duration-500">
            <div class="xl:mb-8 lg:mb-6 mb-4 text-center">
                <span
                    class="xl:px-3 px-2 py-1.5 text-dark dark:text-light bg-light dark:bg-dark border border-neutral3/30 rounded-full inline-block">
                    Professional
                </span>
            </div>
            <div class="xl:mb-12 lg:mb-10 mb-8">
                <div class="flex gap-2 items-end justify-center lg:mb-4 mb-3 cursor-effect-small">
                    <span class="lg:text-lg text-base text-dark dark:text-neutral1 font-medium">$</span>
                    <span class="display-4 text-dark dark:text-neutral1">23</span>
                    <span class="lg:text-lg text-base text-dark dark:text-neutral1 font-medium">/Per
                        hours</span>
                </div>
                <p class="lg:text-lg text-base text-dark dark:text-neutral3 font-thin text-center">
                    We get involved with clients to solve their design problems.
                </p>
            </div>
            <div class="xl:mb-10 lg:mb-8 mb-6">
                <ul class="flex flex-col lg:gap-4 gap-3">
                    <li class="text-base text-dark dark:text-neutral1 font-thin text-center">
                        Need your wireframe
                    </li>
                    <li class="text-base text-dark dark:text-neutral1 font-thin text-center">
                        Design with Figma, Framer
                    </li>
                    <li class="text-base text-dark dark:text-neutral1 font-thin text-center">
                        Support 6 months
                    </li>
                </ul>
            </div>
            <a href="#"
                class="block p-2 text-center text-primary hover:text-dark text-base font-medium border border-primary hover:bg-primary rounded-full duration-500">
                Get Started
            </a>
        </div>
    </div>
</div>