<!-- profile area v1 -->
<div
    class="profile-area flex flex-col lg:w-full md:w-1/2 sm:w-2/3 w-full h-screen lg:border-r border-neutral7 dark:border-primary-3 mx-auto">
    <div class="profile-thumbnail h-[60%] lg:border-b-4 border-neutral7 dark:border-primary-3">
        <div class="profile-thumb w-full h-full">
            <img class="w-full h-full object-cover" src="assets/images/profile-image.webp" alt="profile">
        </div>
    </div>
    <div
        class="profile-content flex flex-col justify-between xxxl:px-8 sm:px-4 px-3 xxl:-translate-y-8 xl:-translate-y-7 lg:-translate-y-6 -translate-y-5 h-[45%] ">
        <div class="profile-social ">
            <ul class="flex items-center justify-center xxl:gap-3 lg:gap-2 gap-1">
                <li>
                    <a href="#"
                        class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                        <i class="hgi-stroke hgi-facebook-02"></i>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                        <i class="hgi-stroke hgi-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                        <i class="hgi-stroke hgi-new-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                        <i class="hgi-stroke hgi-linkedin-01"></i>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                        <i class="hgi-stroke hgi-sharp hgi-dribbble"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="text-center text-dark dark:text-light mb-2">
                Robert Fox
            </h2>
            <h4 class="typewriter text-center text-primary"></h4>
        </div>
        <div
            class="flex xxl:justify-between justify-center gap-3 lg:py-4 md:py-3 py-2 border-t border-b border-neutral7 border-opacity-40 dark:border-primary-3 relative">
            <a href="#" class="btn-primary w-full px-0 box-hover before:bg-primary-3">
                Hire Me </a>
            <span
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[0.2px] h-full rounded-full bg-neutral7 dark:bg-primary-3"></span>
            <a href="#" download="resume" class="btn-secondary w-full px-0 box-hover before:bg-primary">Download
                CV</a>
        </div>
        <div
            class="flex justify-between items-center gap-4 border-[0.5px] border-neutral7 dark:border-primary-3 py-2 px-2.5 rounded-xl">
            <button
                class="theme-dark btn w-full px-0 dark:text-light text-dark dark:bg-neutral11 bg-transparent hover:text-light hover:bg-primary dark:hover:bg-primary">
                <span class="text-base md:text-lg xl:text-xl xxxl:text-2xl">
                    <i class="hgi-stroke hgi-moon-02"></i>
                </span>
                <span>Dark</span>
            </button>
            <button
                class="theme-light btn w-full px-0 dark:text-light text-dark bg-neutral2 dark:bg-transparent hover:text-light hover:bg-primary dark:hover:bg-primary">
                <span class="text-base md:text-lg xl:text-xl xxxl:text-2xl">
                    <i class="hgi-stroke hgi-sun-01"></i>
                </span>
                <span>Light</span>
            </button>
        </div>
    </div>
</div>

