<!-- profile area v2 -->
<div class="p-2 bg-neutral1 dark:bg-neutral12 rounded-lg h-full lg:hidden lg:mb-20 md:mb-15 mb-10">
    <div class="profile-thumbnail lg:h-[60%] mb-2">
        <div
            class="profile-thumb sm:max-w-[400px] max-w-[300px] sm:max-h-[400px] max-h-[300px] w-full h-full rounded-full overflow-hidden mx-auto">
            <img class="w-full h-full object-cover" src="assets/images/profile-image-4.webp" alt="profile">
        </div>
    </div>
    <div
        class="profile-content flex flex-col py-6 px-2 justify-between gap-6 lg:h-[39%] bg-neutral2 dark:bg-neutral11 border border-neutral5 border-opacity-40 rounded-lg dark:border-neutral11 mx-auto">

        <div>
            <h2 class="text-center text-dark dark:text-light mb-2">
                Robert Fox
            </h2>
            <h4 class="typewriter text-center text-primary font-medium"></h4>
        </div>

        <div class="profile-social ">
            <ul class="flex items-center justify-center xxl:gap-3 lg:gap-2 gap-1">
                <li><a href="#"
                        class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral5 border border-neutral5/10 text-primary lg:text-xl text-lg transition-all duration-300  dark:bg-neutral11 dark:border-neutral5/10 dark:text-light hover:text-light box-hover">
                        <i class="hgi-stroke hgi-facebook-02"></i>
                    </a></li>
                <li><a href="#"
                        class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral5 border border-neutral5/10 text-primary lg:text-xl text-lg transition-all duration-300  dark:bg-neutral11 dark:border-neutral5/10 dark:text-light hover:text-light box-hover">
                        <i class="hgi-stroke hgi-instagram"></i>
                    </a></li>
                <li><a href="#"
                        class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral5 border border-neutral5/10 text-primary lg:text-xl text-lg transition-all duration-300  dark:bg-neutral11 dark:border-neutral5/10 dark:text-light hover:text-light box-hover">
                        <i class="hgi-stroke hgi-new-twitter"></i>
                    </a></li>
                <li><a href="#"
                        class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral5 border border-neutral5/10 text-primary lg:text-xl text-lg transition-all duration-300  dark:bg-neutral11 dark:border-neutral5/10 dark:text-light hover:text-light box-hover">
                        <i class="hgi-stroke hgi-linkedin-01"></i>
                    </a></li>
                <li><a href="#"
                        class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral5 border border-neutral5/10 text-primary lg:text-xl text-lg transition-all duration-300  dark:bg-neutral11 dark:border-neutral5/10 dark:text-light hover:text-light box-hover">
                        <i class="hgi-stroke hgi-sharp hgi-dribbble"></i>
                    </a></li>
            </ul>
        </div>

    </div>
</div>