<!-- profile area v4 -->
<div class="col-span-12 xl:col-span-4 flex" data-aos="fade-right">

    <!-- profile & menu area -->
    <div
        class="flex xl:flex-row flex-col gap-2 sticky top-0 z-30 rounded-lg p-2 ltr:xl:pr-0 rtl:xl:pl-0 xl:h-screen h-full w-full">
        <!-- menu btn area -->
        <div
            class="menu-area-v4 flex xl:flex-col items-center justify-between 4xl:gap-8 xxl:gap-6 lg:gap-5 xs:gap-4 gap-2 xl:w-20 w-full xl:py-6 lg:py-4 py-3 xxl:px-3 xl:px-2 sm:px-6 px-2 bg-neutral2 dark:bg-neutral12 border border-neutral/40 dark:border-neutral11 rounded-lg">

            <!-- menu toggle btn -->
            <button
                class="menu-toggle-btn menu-btn-4 xl:w-12 lg:w-10 md:w-9 w-8 xl:h-12 lg:h-10 h-9 xl:min-h-12 lg:min-h-10 md:min-h-9 min-h-8 flex items-center justify-center flex-col gap-1 border border-neutral3/40 dark:border-neutral3 rounded-full p-3">
                <span class="menu-bar-1 block w-4 h-[2px] duration-500 bg-neutral11 dark:bg-neutral2"></span>
                <span class="menu-bar-2 block w-4 h-[2px] duration-500 bg-neutral11 dark:bg-neutral2"></span>
                <span class="menu-bar-3 block w-4 h-[2px] duration-500 bg-neutral11 dark:bg-neutral2"></span>
            </button>

            <div
                class="xl:flex xl:flex-col xxl:gap-6 gap-4 xxl:py-6 xl:py-4 xl:px-0 sm:px-6 xs:px-4 px-2 xl:border-t xl:border-b xl:border-l-0 xl:border-r-0 border-l border-r border-neutral3/40 xl:h-full w-full hidden">
                <div class="flex xl:flex-col xxl:gap-6 gap-4">
                    <a href="about-me-v4.html" class="flex flex-col items-center gap-1">
                        <span
                            class="xl:w-12 lg:w-10 md:w-9 w-8 xl:h-12 lg:h-10 h-9 xl:min-h-12 lg:min-h-10 md:min-h-9 min-h-8 flex items-center justify-center border border-neutral3/40 dark:border-neutral3 rounded-full xl:text-2xl lg:text-xl text-lg text-neutral11 dark:text-neutral3">
                            <i class="hgi-stroke hgi-user"></i>
                        </span>
                        <span class="text-xs text-dark dark:text-light">ABOUT</span>
                    </a>
                    <a href="services-v4.html" class="flex flex-col items-center gap-1">
                        <span
                            class="xl:w-12 lg:w-10 md:w-9 w-8 xl:h-12 lg:h-10 h-9 xl:min-h-12 lg:min-h-10 md:min-h-9 min-h-8 flex items-center justify-center border border-neutral3/40 dark:border-neutral3 rounded-full xl:text-2xl lg:text-xl text-lg text-neutral11 dark:text-neutral3">
                            <i class="hgi-stroke hgi-dashboard-square-01"></i>
                        </span>
                        <span class="text-xs text-dark dark:text-light">SERVICES</span>
                    </a>
                </div>

                <div class="sm:flex hidden xl:flex-col justify-center items-center xxl:gap-6 gap-4 xl:h-full w-full">
                    <span class="block xl:w-[1px] w-full xl:h-full h-[1px] bg-neutral3/40 dark:bg-neutral11"></span>
                    <span
                        class="text-base text-dark dark:text-accent2 xl:writing-mode-vertical-rl xl:rotate-180">HIRE</span>
                    <span class="block xl:w-[1px] w-full xl:h-full h-[1px] bg-neutral3/40 dark:bg-neutral11"></span>
                </div>

            </div>

            <button
                class="theme-toggle xl:w-12 lg:w-10 w-9 xl:min-w-12 lg:min-w-10 min-w-9 xl:h-12 lg:h-10 h-9 xl:min-h-12 lg:min-h-10 min-h-9 flex items-center justify-center border border-neutral3/40 dark:border-neutral3 rounded-full transition-colors duration-500">
                <!-- Sun Icon -->
                <svg class="sun-icon w-6 h-6 hidden text-dark dark:text-neutral3" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
                <!-- Moon Icon -->
                <svg class="moon-icon w-6 h-6 hidden text-gray-800 dark:text-neutral3" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                </svg>
            </button>
        </div>

        <!-- Profile area -->
        <div
            class="profile-area profile-area-4 flex flex-col w-full h-full bg-neutral2 dark:bg-neutral12 4xl:px-15 xxxl:px-12 px-4 tall-xxl:py-15 tall-xl:py-12 tall-md:py-10 py-8 tall-xl:gap-15 tall-md:gap-8 gap-6 rounded-lg">
            <div class="h-full">
                <div
                    class="profile-thumb xl:max-w-[400px] max-w-[300px] xl:max-h-[400px] max-h-[300px] w-full h-full rounded-full overflow-hidden bg-neutral3/20 dark:bg-neutral11 mx-auto">
                    <img class="w-full h-full object-cover" src="assets/images/profile-image-8.webp" alt="profile">
                </div>
            </div>

            <div class="profile-content flex flex-col justify-between h-full gap-4">
                <div>
                    <h2 class="display-4 text-center text-dark dark:text-light mb-2">
                        Ashadul Islam
                    </h2>
                    <h4 class="typewriter text-center text-accent2 font-medium"></h4>
                </div>

                <div class="profile-social">
                    <ul class="flex items-center justify-center xxl:gap-3 lg:gap-2 gap-1">
                        <li><a href="#"
                                class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-light dark:bg-neutral11/50 border border-neutral4 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 box-hover hover:dark:text-dark before:bg-accent2">
                                <i class="hgi-stroke hgi-facebook-02"></i>
                            </a></li>
                        <li><a href="#"
                                class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-light dark:bg-neutral11/50 border border-neutral4 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 box-hover hover:dark:text-dark before:bg-accent2">
                                <i class="hgi-stroke hgi-instagram"></i>
                            </a></li>
                        <li><a href="#"
                                class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-light dark:bg-neutral11/50 border border-neutral4 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 box-hover hover:dark:text-dark before:bg-accent2">
                                <i class="hgi-stroke hgi-new-twitter"></i>
                            </a></li>
                        <li><a href="#"
                                class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-light dark:bg-neutral11/50 border border-neutral4 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 box-hover hover:dark:text-dark before:bg-accent2">
                                <i class="hgi-stroke hgi-linkedin-01"></i>
                            </a></li>
                        <li><a href="#"
                                class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-light dark:bg-neutral11/50 border border-neutral4 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 box-hover hover:dark:text-dark before:bg-accent2">
                                <i class="hgi-stroke hgi-sharp hgi-dribbble"></i>
                            </a></li>
                    </ul>
                </div>

                <div
                    class="flex xxl:justify-between justify-center xxl:gap-6 gap-4 lg:py-4 md:py-3 py-2 border-t border-b border-neutral3/15 dark:border-neutral3/15 relative">
                    <a href="contact-v4.html"
                        class="btn-primary w-full px-0 bg-accent2 text-dark box-hover before:bg-primary">
                        Hire Me
                    </a>
                    <span
                        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[0.2px] h-full rounded-full bg-neutral3/15"></span>
                    <a href="#" download="resume"
                        class="btn-secondary w-full px-0 bg-light dark:bg-neutral11 box-hover before:bg-primary">Download
                        CV</a>
                </div>
            </div>

        </div>

    </div>
</div>