<!-- Profile area -->
<div class="sticky top-0 z-30">
    <div
        class="profile-area flex flex-col w-full h-screen bg-neutral1 dark:bg-neutral12 4xl:px-15 xxxl:px-12 xl:px-8 lg:px-4 tall-xxl:py-15 tall-xl:py-12 tall-md:py-10 py-8 tall-xl:gap-15 tall-md:gap-8 gap-6 rounded-lg">
        <div class="profile-thumbnail h-full">
            <div
                class="profile-thumb 4xl:max-w-[400px] xl:max-w-[380px] max-w-[300px] 4xl:max-h-[400px] xl:max-h-[380px] max-h-[300px] w-full h-full rounded-full overflow-hidden bg-neutral3/20 dark:bg-neutral11 mx-auto">
                <img class="w-full h-full" src="assets/images/profile-image-8.webp" alt="profile">
            </div>
        </div>

        <div class="profile-content flex flex-col justify-between h-full">
            <div>
                <h2 class="display-4 text-center text-dark dark:text-light mb-2">
                    Ashadul Islam
                </h2>
                <h4 class="typewriter text-center text-accent2 font-thin"></h4>
            </div>

            <div class="profile-social">
                <ul class="flex items-center justify-center xxl:gap-3 lg:gap-2 gap-1">
                    <li><a href="#"
                            class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-light dark:bg-neutral11/50 border border-neutral4 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 box-hover hover:dark:text-dark before:bg-accent2">
                            <i class="hgi-stroke hgi-facebook-02"></i>
                        </a></li>
                    <li><a href="#"
                            class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-light dark:bg-neutral11/50 border border-neutral4 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 box-hover hover:dark:text-dark before:bg-accent2">
                            <i class="hgi-stroke hgi-instagram"></i>
                        </a></li>
                    <li><a href="#"
                            class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-light dark:bg-neutral11/50 border border-neutral4 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 box-hover hover:dark:text-dark before:bg-accent2">
                            <i class="hgi-stroke hgi-new-twitter"></i>
                        </a></li>
                    <li><a href="#"
                            class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-light dark:bg-neutral11/50 border border-neutral4 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 box-hover hover:dark:text-dark before:bg-accent2">
                            <i class="hgi-stroke hgi-linkedin-01"></i>
                        </a></li>
                    <li><a href="#"
                            class="xxl:size-12 size-10 flex items-center justify-center rounded-full bg-light dark:bg-neutral11/50 border border-neutral4 dark:border-neutral5/10 text-dark dark:text-light lg:text-xl text-lg transition-all duration-300 box-hover hover:dark:text-dark before:bg-accent2">
                            <i class="hgi-stroke hgi-sharp hgi-dribbble"></i>
                        </a></li>
                </ul>
            </div>

            <div
                class="flex xxl:justify-between justify-center flex-wrap xxl:flex-nowrap gap-3 lg:py-4 md:py-3 py-2 border-t border-b border-neutral3/20 dark:border-neutral3/10 relative">
                <a href="contact-v6.html"
                    class="btn-primary w-full px-0 bg-accent2 text-dark box-hover before:bg-primary">
                    Hire Me</a>
                <a href="#" download="resume"
                    class="btn-secondary w-full px-0 bg-light dark:bg-neutral11 box-hover before:bg-primary">Download
                    CV</a>
            </div>

            <div
                class="flex justify-between items-center gap-2 border-[0.5px] border-neutral3/20 dark:border-neutral3/10 py-2 px-2.5 rounded-xl">
                <button
                    class="theme-dark btn w-full px-0 dark:text-light text-dark dark:bg-neutral11 bg-transparent hover:text-light hover:bg-primary dark:hover:bg-primary">
                    <span class="text-base md:text-lg xl:text-xl xxxl:text-2xl">
                        <i class="hgi-stroke hgi-moon-02"></i>
                    </span>
                    <span>Dark</span>
                </button>
                <button
                    class="theme-light btn w-full px-0 dark:text-light text-dark bg-neutral2 dark:bg-transparent hover:text-light hover:bg-primary dark:hover:bg-primary">
                    <span class="text-base md:text-lg xl:text-xl xxxl:text-2xl">
                        <i class="hgi-stroke hgi-sun-01"></i>
                    </span>
                    <span>Light</span>
                </button>
            </div>
        </div>
    </div>
</div>