<!-- resume v2 -->
<div class="flex flex-col xl:gap-12 lg:gap-10 md:gap-8 gap-6 " data-aos="fade-up">
    <div>
        <span
            class="text-sm xl:px-3 px-2 py-1.5 text-neutral11/80 dark:text-neutral3/80 border-[0.5px] border-neutral3 dark:border-neutral3/60 rounded-full inline-block lg:mb-5 mb-3">
            RESUME
        </span>
        <h2 class="text-h1 text-dark dark:text-light lg:mb-4 mb-3 cursor-effect-medium">
                Showcasing my talents in web development
        </h2>
        <p class="text-base lg:text-xl text-neutral11 dark:text-neutral2 font-thin">
            Best Ideas and Designs
        </p>
    </div>

    <div class="relative flex md:flex-row flex-col md:gap-6 gap-10">
        <div class="flex flex-col lg:gap-6 gap-4 w-full">
            <h5
                class="text-animation-line text-dark dark:text-light font-normal underline underline-offset-8 underline-thickness-1 decoration-primary">
                EXPERIENCE</h5>
            <div class="flex flex-col gap-1">
                <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                    2007 - 2017
                </span>
                <span class="text-animation-word text-dark dark:text-neutral1 text-lg lg:text-xl xl:text-2xl">
                    Framer Designer & Developer
                </span>
                <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                    Bluebase Designs
                </span>
            </div>
            <div class="flex flex-col gap-1">
                <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                    2017 - 2023
                </span>
                <span class="text-animation-word text-dark dark:text-neutral1 text-lg lg:text-xl xl:text-2xl">
                    Front-End Developer
                </span>
                <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                    Larsen & Toubro
                </span>
            </div>
        </div>
        <div
            class="flex flex-col lg:gap-6 gap-4 w-full md:border-l border-neutral5/50 dark:border-neutral11 md:pl-15 lg:pl-20 xl:pl-24 xxl:pl-32">
            <h5
                class="text-animation-line text-dark dark:text-light font-normal underline underline-offset-8 underline-thickness-1 decoration-primary">
                EDUCATION</h5>
            <div class="flex flex-col gap-1">
                <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                    2004 - 2007
                </span>
                <span class="text-animation-word text-dark dark:text-neutral1 text-lg lg:text-xl xl:text-2xl">
                    Bachelor Degree in Computer Science
                </span>
                <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                    University of California
                </span>
            </div>
            <div class="flex flex-col gap-1">
                <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                    2007 - 2009
                </span>
                <span class="text-animation-word text-dark dark:text-neutral1 text-lg lg:text-xl xl:text-2xl">
                    Master Degree in Web Development
                </span>
                <span class="text-neutral11/80 dark:text-neutral3/80 text-base lg:text-lg font-thin">
                    University of Texas
                </span>
            </div>
        </div>
    </div>
</div>