<!-- resume section -->
<section id="resume-section" class="card-section-wrapper resume-section">
    <!-- profile area 2 v1 -->
    <div class="bg-light dark:bg-dark duration-500">
        <div
            class="profile-area flex flex-col lg:w-full md:w-1/2 sm:w-2/3 w-full h-full mx-auto lg:pb-20 md:pb-15 pb-10 lg:hidden">
            <div class="profile-thumbnail h-[60%] lg:border-b-4 border-neutral7 dark:border-primary-3">
                <div class="profile-thumb w-full h-full">
                    <img class="w-full h-full object-cover" src="assets/images/profile-image.webp" alt="profile">
                </div>
            </div>
            <div
                class="profile-content flex flex-col justify-between gap-6 xxxl:px-8 lg:px-6 sm:px-4 px-3 xxl:-translate-y-8 xl:-translate-y-7 lg:-translate-y-6 -translate-y-5 h-[45%] ">
                <div class="profile-social ">
                    <ul class="flex items-center justify-center xxl:gap-3 lg:gap-2 gap-1">
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-facebook-02"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-new-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-linkedin-01"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="xxxl:size-15 xxl:size-12 size-10 flex items-center justify-center rounded-full bg-neutral6 border border-neutral5 text-primary xxl:text-2xl lg:text-xl text-lg transition-all duration-300  dark:bg-primary-2 dark:border-primary-3 dark:text-light  hover:text-light box-hover">
                                <i class="hgi-stroke hgi-sharp hgi-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="text-center text-dark dark:text-light mb-2">
                        Robert Fox
                    </h2>
                    <h4 class="typewriter text-center text-primary"></h4>
                </div>
                <div
                    class="flex xxl:justify-between justify-center gap-3 lg:py-4 md:py-3 py-2 border-t border-b border-neutral7 border-opacity-40 dark:border-primary-3 relative">
                    <a href="#" class="btn-primary w-full box-hover before:bg-primary-3">
                        Hire Me </a>
                    <span
                        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[0.2px] h-full rounded-full bg-neutral7 dark:bg-primary-3"></span>
                    <a href="#" download="resume" class="btn-secondary w-full box-hover before:bg-primary">Download
                        CV</a>
                </div>
            </div>
        </div>
    </div>

    <div class="xxl:px-20 xl:px-15 lg:px-10 md:px-6 sm:px-4 px-3 lg:pt-20 pt-15 pb-120 bg-accent9">
        <!-- back bnt -->
        <button class="back-to-menu btn btn-primary box-hover before:bg-primary-3 px-3 py-2 absolute top-4 ltr:right-4
            rtl:left-4 flex items-center gap-2 text-light text-base font-thin duration-300 border-b border-light
            group/btn">
            <span>
                Back to Menu
            </span>
            <span class="text-lg group-hover/btn:rotate-90 duration-300"><i
                    class="hgi-stroke hgi-arrow-up-right-01"></i></span>
        </button>

        <!-- resume -->
        <div class="xl:mb-15 lg:mb-12 md:mb-10 mb-8">
            <span
                class="text-sm xl:px-3 px-2 xl:py-1.5 py-1 border-[0.5px] border-light text-light text-opacity-80 rounded-full inline-block xl:mb-3 mb-2">
                RESUME
            </span>
            <h2 class="parallax-title text-h1 text-light lg:mb-4 mb-3 cursor-effect-medium">
                <span class="xs:block">
                    Showcasing my talents in
                </span>
                <span class="xs:block">
                    web development
                </span>
            </h2>
            <p class="text-base lg:text-xl text-neutral2 font-thin">
                Best Ideas and Designs
            </p>
        </div>

        <div class="relative flex flex-col xl:gap-20 lg:gap-16 md:gap-12 gap-10">
            <div>
                <h2 class="text-light font-medium xl:mb-12 lg:mb-10 md:mb-8 mb-6 cursor-effect-small">
                    EXPERIENCE
                </h2>
                <div class="flex flex-col xl:gap-8 lg:gap-6 gap-4">
                    <div class="grid grid-cols-12 lg:gap-4 gap-2">
                        <div class="xl:col-span-3 col-span-12">
                            <span class="text-neutral2 text-opacity-80 xl:text-2xl lg:text-xl text-lg font-medium">
                                2007 - 2017
                            </span>
                        </div>
                        <div class="xl:col-span-4 col-span-12">
                            <div class="flex flex-col gap-1">
                                <span class="text-neutral1 xl:text-2xl lg:text-xl text-lg font-medium">
                                    Framer Designer & Developer
                                </span>
                                <span class="text-neutral2 text-opacity-80 text-base lg:text-lg font-thin">
                                    Bluebase Designs
                                </span>
                            </div>
                        </div>
                        <div class="xl:col-span-5 col-span-12">
                            <div class="xl:max-w-[340px] xl:ml-auto">
                                <p class="text-neutral2 text-opacity-80 text-base lg:text-lg">
                                    There are many variations of passages of available but to the
                                    majority
                                    have suffered but the into majority.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- vertical line -->
                    <span class="block w-full h-[1px] bg-linear"></span>

                    <div class="grid grid-cols-12 lg:gap-4 gap-2">
                        <div class="xl:col-span-3 col-span-12">
                            <span class="text-neutral2 text-opacity-80 xl:text-2xl lg:text-xl text-lg font-medium">
                                2017 - 2023
                            </span>
                        </div>
                        <div class="xl:col-span-4 col-span-12">
                            <div class="flex flex-col gap-1">
                                <span class="text-neutral1 xl:text-2xl lg:text-xl text-lg font-medium">
                                    Front-End Developer
                                </span>
                                <span class="text-neutral2 text-opacity-80 text-base lg:text-lg font-thin">
                                    Larsen & Toubro
                                </span>
                            </div>
                        </div>
                        <div class="xl:col-span-5 col-span-12">
                            <div class="xl:max-w-[340px] lg:ml-auto">
                                <p class="text-neutral2 text-opacity-80 text-base lg:text-lg">
                                    There are many variations of passages of available but to the
                                    majority have suffered but the into majority.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- vertical line -->
            <span class="block w-full h-[1px] bg-linear"></span>
            <div>
                <h2 class="text-light font-medium xl:mb-12 lg:mb-10 md:mb-8 mb-6 cursor-effect-small">
                    EDUCATION
                </h2>
                <div class="flex flex-col xl:gap-8 lg:gap-6 gap-4">
                    <div class="grid grid-cols-12 lg:gap-4 gap-2">
                        <div class="xl:col-span-3 col-span-12">
                            <span class="text-neutral2 text-opacity-80 xl:text-2xl lg:text-xl text-lg font-medium">
                                2004 - 2007
                            </span>
                        </div>
                        <div class="xl:col-span-4 col-span-12">
                            <div class="flex flex-col gap-1">
                                <span class="text-neutral1 xl:text-2xl lg:text-xl text-lg font-medium">
                                    Bachelor Degree in Computer Science
                                </span>
                                <span class="text-neutral2 text-opacity-80 text-base lg:text-lg font-thin">
                                    University of California
                                </span>
                            </div>
                        </div>
                        <div class="xl:col-span-5 col-span-12">
                            <div class="xl:max-w-[340px] xl:ml-auto">
                                <p class="text-neutral2 text-opacity-80 text-base lg:text-lg">
                                    There are many variations of passages of available but to the
                                    majority have suffered but the into majority.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- vertical line -->
                    <span class="block w-full h-[1px] bg-linear"></span>

                    <div class="grid grid-cols-12 lg:gap-4 gap-2">
                        <div class="xl:col-span-3 col-span-12">
                            <span class="text-neutral2 text-opacity-80 xl:text-2xl lg:text-xl text-lg font-medium">
                                2007 - 2009
                            </span>
                        </div>
                        <div class="xl:col-span-4 col-span-12">
                            <div class="flex flex-col gap-1">
                                <span class="text-neutral1 xl:text-2xl lg:text-xl text-lg font-medium">
                                    Master Degree in Web Development
                                </span>
                                <span class="text-neutral2 text-opacity-80 text-base lg:text-lg font-thin">
                                    University of Texas
                                </span>
                            </div>
                        </div>
                        <div class="xl:col-span-5 col-span-12">
                            <div class="xl:max-w-[340px] xl:ml-auto">
                                <p class="text-neutral2 text-opacity-80 text-base lg:text-lg">
                                    There are many variations of passages of available but to the
                                    majority have suffered but the into majority.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- bottom navigation -->
    <div class="flex flex-wrap sm:flex-nowrap">

        <!-- SKILLS -->
        <div class="grid-card-wrapper duration-500 w-full h-full overflow-hidden" data-section-id="skills-section">
            <!-- front -->
            <div class="grid-card front-face h-full relative overflow-hidden cursor-pointer">
                <div class="full-text duration-300 overflow-hidden hover-cursor" data-hover-text="View Details">
                    <div class="relative xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent12 bg-no-repeat bg-center bg-cover z-10 border-b-4 border-accent5"
                        style="background-image: url(assets/images/bg-noise.webp);">
                        <!-- blur background -->
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 bg-accent5 opacity-60 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute top-0 right-0 translate-x-1/2 -translate-y-1/2 bg-accent5 opacity-40 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[300px] max-h-[300px] w-full h-full rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-accent5 opacity-20 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute bottom-0 left-0 -translate-x-1/2 translate-y-1/2 bg-accent5 opacity-30 -z-10 blur-3xl">
                        </div>
                        <div class="flex flex-col justify-between h-full">
                            <!-- content -->
                            <div class="card-content xxxl:mb-[80px] xl:mb-[60px] lg:mb-[50px] mb-[40px]">
                                <span
                                    class="xl:px-3 px-2 py-1.5 border border-accent5 text-accent5 rounded-full inline-block xl:mb-5 mb-3">SKILLS</span>
                                <span
                                    class="full-text-title parallax-title flex xl:flex-col lg:flex-row flex-col text-accent5 lg:line-clamp-2 line-clamp-1 mb-3">
                                    <span class="block">Top Skills And </span>
                                    <span class="block">Strengths</span>
                                </span>
                                <span class="text-base xl:text-lg line-clamp-1 text-accent5">
                                    Emphasizing core skills effectively.
                                </span>
                            </div>
                            <!-- button -->
                            <div class="flex items-end justify-between">
                                <a href="#" class="">
                                    <svg class="fill-current text-accent5" xmlns="http://www.w3.org/2000/svg" width="62"
                                        height="42" viewBox="0 0 62 42" fill="none">
                                        <g clip-path="url(#clip0_6378_197)">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                        </g>
                                    </svg>
                                </a>
                                <div
                                    class="flex items-center justify-center p-10 absolute xl:-bottom-10 -bottom-8 ltr:xl:-right-10 ltr:-right-8 ltr:xl:-left-10 rtl:-left-8 xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent5 bg-accent5 bg-opacity-10 rounded-full">
                                    <span class="xxl:text-6xl xl:text-5xl text-4xl text-accent5">
                                        <i class="ph ph-pen-nib"></i>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTACT ME -->
        <div class="grid-card-wrapper duration-500 w-full h-full overflow-hidden" data-section-id="contact-section">
            <!-- front -->
            <div class="grid-card front-face h-full relative overflow-hidden cursor-pointer">
                <div class="full-text duration-300 overflow-hidden hover-cursor" data-hover-text="View Details">
                    <div class="relative xxl:p-10 xl:p-8 lg:p-6 p-4 bg-accent14 bg-no-repeat bg-center bg-cover z-10 border-b-4 border-accent13"
                        style="background-image: url(assets/images/bg-noise.webp);">
                        <!-- blur background -->
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 bg-accent13 opacity-60 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute top-0 right-0 translate-x-1/2 -translate-y-1/2 bg-accent13 opacity-40 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[300px] max-h-[300px] w-full h-full rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-accent13 opacity-20 -z-10 blur-3xl">
                        </div>
                        <div
                            class="max-w-[200px] max-h-[200px] w-full h-full rounded-full absolute bottom-0 left-0 -translate-x-1/2 translate-y-1/2 bg-accent13 opacity-30 -z-10 blur-3xl">
                        </div>
                        <div class="flex flex-col justify-between h-full">
                            <!-- content -->
                            <div class="card-content xxxl:mb-[80px] xl:mb-[60px] lg:mb-[50px] mb-[40px]">
                                <span
                                    class="xl:px-3 px-2 py-1.5 border border-accent13 text-accent13 rounded-full inline-block xl:mb-5 mb-3">CONTACT</span>
                                <span
                                    class="full-text-title parallax-title flex xl:flex-col lg:flex-row flex-col text-accent13 lg:line-clamp-2 line-clamp-1 mb-3">
                                    <span class="block">Let's Word A</span>
                                    <span class="block">Conversation</span>
                                </span>
                                <span class="text-base xl:text-lg line-clamp-1 text-accent13">Start a
                                    Conversation
                                    Today</span>
                            </div>
                            <!-- button -->
                            <div class="flex items-end justify-between">
                                <a href="#" class="">
                                    <svg class="fill-current text-accent13" xmlns="http://www.w3.org/2000/svg"
                                        width="62" height="42" viewBox="0 0 62 42" fill="none">
                                        <g clip-path="url(#clip0_6378_197)">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M61.8088 21L62 19.9032C43.8202 16.6847 39.549 5.06393 39.549 0H37.3388C37.3388 5.26665 41.0262 15.1401 54.0092 20.0455H0V21.9545H54.0092C41.0262 26.8599 37.3388 36.7333 37.3388 42H39.549C39.549 36.9361 43.8202 25.3153 62 22.0968L61.8088 21Z" />
                                        </g>
                                    </svg>
                                </a>
                                <div
                                    class="flex items-center justify-center p-10 absolute xl:-bottom-10 -bottom-8 ltr:xl:-right-10 ltr:-right-8 ltr:xl:-left-10 rtl:-left-8 xl:max-w-[200px] lg:max-w-[150px] max-w-[120px] xl:max-h-[200px] lg:max-h-[150px] max-h-[120px] w-full h-full border-2 border-accent13 bg-accent13 bg-opacity-10 rounded-full">
                                    <span class="xxl:text-6xl xl:text-5xl text-4xl text-accent13">
                                        <i class="ph ph-phone-call"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>