<!-- resume section start -->
<div id="resume-section-v8"
    class="menu-item xl:w-20 w-0 h-full xl:border-l border-neutral3/40 dark:border-neutral3 xl:duration-500 overflow-hidden overflow-y-auto"
    data-section-id="resume-section-v8">
    <div
        class="menu-link flex items-center justify-between -rotate-180 w-full h-full writing-mode-vertical-rl py-6 cursor-pointer">
        <span class="text-base text-dark dark:text-light">RESUME</span>
        <span class="text-base text-dark dark:text-light">03</span>
    </div>
    <!-- resume content -->
    <div class="menu-content hidden 4xl:px-15 xxxl:px-10 xxl:px-8 lg:px-6 md:px-4 px-2">
        <!-- page title stroke -->
        <span
            class="block leading-none text-stroke-2 text-stroke-neutral3 text-transparent font-bold opacity-20 text-[60px] xs:text-[50px] sm:text-[50px] md:text-[60px] lg:text-[80px] xl:text-[100px] xxl:text-[140px] xxxl:text-[160px] 4xl:text-[180px] w-full text-center">
            RESUME
        </span>
        <!-- content -->
        <div class="xl:mb-15 lg:mb-10 md:mb-8 mb-6">
            <span class="block text-base xl:text-lg text-dark dark:text-light mb-3">
                RESUME
            </span>
            <h2 class="display-4 text-dark dark:text-light lg:mb-5 mb-3">
                <span>
                    Education &
                </span>
                <span class="block ml-6">
                    Experience
                </span>
            </h2>
            <span class="block text-base lg:text-lg xl:text-xl text-dark dark:text-light">
                Best Ideas and Designs
            </span>
        </div>
        <!-- experience and education -->
        <div
            class="flex sm:flex-nowrap flex-wrap 4xl:gap-15 xxxl:gap-12 xl:gap-10 lg:gap-8 gap-6 xl:pb-10 md:pb-8 pb-6">
            <div class="w-full flex flex-col lg:gap-6 gap-4">
                <h5 class="text-dark dark:text-light font-normal underline underline-offset-8 underline-thickness-1">
                    EXPERIENCE</h5>
                <div
                    class="flex flex-col gap-1 border border-neutral3/40 lg:p-6 p-4 box-hover before:duration-700 before:bg-dark dark:before:bg-light group/resume">
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        2007 - 2017
                    </span>
                    <span
                        class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        Framer Designer & Developer
                    </span>
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        Bluebase Designs
                    </span>
                </div>
                <div
                    class="flex flex-col gap-1 border border-neutral3/40 lg:p-6 p-4 box-hover before:duration-700 before:bg-dark dark:before:bg-light group/resume">
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        2017 - 2023
                    </span>
                    <span
                        class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        Front-End Developer
                    </span>
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        Larsen & Toubro
                    </span>
                </div>
                <div
                    class="flex flex-col gap-1 border border-neutral3/40 lg:p-6 p-4 box-hover before:duration-700 before:bg-dark dark:before:bg-light group/resume">
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        2018 - 2020
                    </span>
                    <span
                        class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        Junior Graphic Designer
                    </span>
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        Larsen & Toubro
                    </span>
                </div>
            </div>
            <div class="w-full flex flex-col lg:gap-6 gap-4">
                <h5 class="text-dark dark:text-light font-normal underline underline-offset-8 underline-thickness-1">
                    EDUCATION</h5>
                <div
                    class="flex flex-col gap-1 border border-neutral3/40 lg:p-6 p-4 box-hover before:duration-700 before:bg-dark dark:before:bg-light group/resume">
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        2004 - 2007
                    </span>
                    <span
                        class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        Bachelor Degree in Computer.
                    </span>
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        University of California
                    </span>
                </div>
                <div
                    class="flex flex-col gap-1 border border-neutral3/40 lg:p-6 p-4 box-hover before:duration-700 before:bg-dark dark:before:bg-light group/resume">
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        2007 - 2009
                    </span>
                    <span
                        class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        Master Degree in Web Development
                    </span>
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        University of Texas
                    </span>
                </div>
                <div
                    class="flex flex-col gap-1 border border-neutral3/40 lg:p-6 p-4 box-hover before:duration-700 before:bg-dark dark:before:bg-light group/resume">
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        2016 - 2020
                    </span>
                    <span
                        class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        Graphic Design Course
                    </span>
                    <span
                        class="text-neutral12 dark:text-neutral3 text-base font-normal duration-500 group-hover/resume:text-light group-hover/resume:dark:text-dark">
                        University of Denmark
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- resume section end -->