<!-- resume section start -->
<div id="resume-section-v5" class="menu-item relative z-40 xl:w-36 w-0 h-full xl:duration-1000 overflow-hidden"
    data-section-id="resume-section-v5">
    <div
        class="menu-link flex relative z-40 items-center justify-between -rotate-180 w-full h-full writing-mode-vertical-rl py-6 cursor-pointer bg-accent23">
        <h2 class="text-dark">RESUME</h2>
        <button
            class="xxl:size-15 xl:size-12 lg:size-10 size-9 xxl:text-2xl xl:text-xl lg:text-lg text-base text-light bg-dark rounded-full">
            <i class="hgi-stroke hgi-arrow-down-left-01"></i>
        </button>
    </div>
    <div
        class="overlay-v5 overlay-prev w-full h-full absolute top-0 left-0 z-30 transition-all duration-500 delay-300 translate-x-0 bg-accent23">
    </div>
    <div
        class="overlay-v5 overlay-next w-full h-full absolute top-0 right-0 z-30 transition-all duration-1000 delay-1000 translate-x-full bg-accent24">
    </div>

    <!-- resume content -->
    <div class="menu-content transition-all duration-0 opacity-0 hidden xxxl:p-15 xl:p-12 lg:p-10 md:p-8 sm:p-6 p-4">

        <div class="lg:mb-15 md:mb-10 mb-8">
            <div class="flex items-center justify-between flex-wrap lg:mb-5 mb-3">
                <span
                    class="text-sm xl:px-3 px-2 py-1.5 text-dark dark:text-light border-[0.5px] border-dark dark:border-light rounded-full">
                    RESUME
                </span>
                <a href="mailto:xyz@example.com"
                    class="flex items-center gap-2 xl:py-3 xs:py-2 py-1.5 xl:px-6 xs:px-4 px-2.5 rounded-full bg-primary text-light text-base xl:text-lg group/btn">
                    Contact Me
                    <span class="flex xl:text-2xl text-xl duration-500 group-hover/btn:rotate-90">
                        <i class="hgi-stroke hgi-arrow-up-right-01"></i>
                    </span>
                </a>
            </div>
            <h2 class="display-2 text-dark dark:text-light mb-4">
                Education & Experience
            </h2>
            <span class="text-dark dark:text-light text-lg lg:text-xl xl:text-2xl">
                Best Ideas and Designs
            </span>
        </div>

        <!-- experience and education -->
        <div class="flex sm:flex-nowrap flex-wrap 4xl:gap-15 xxxl:gap-12 xl:gap-10 lg:gap-8 gap-6">
            <div class="w-full flex flex-col lg:gap-6 gap-4">
                <h2 class="text-dark dark:text-light">
                    My Experience
                </h2>
                <div class="flex flex-col gap-1 lg:p-6 p-4 bg-neutral4 dark:bg-primary-2">
                    <span class="text-accent2 text-base font-normal">
                        2007 - 2017
                    </span>
                    <span class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium">
                        Framer Designer & Developer
                    </span>
                    <span class="text-neutral12 dark:text-neutral3 text-base font-normal">
                        Bluebase Designs
                    </span>
                </div>
                <div class="flex flex-col gap-1 lg:p-6 p-4 bg-neutral4 dark:bg-primary-2">
                    <span class="text-accent2 text-base font-normal">
                        2017 - 2023
                    </span>
                    <span class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium">
                        Front-End Developer
                    </span>
                    <span class="text-neutral12 dark:text-neutral3 text-base font-normal">
                        Larsen & Toubro
                    </span>
                </div>
                <div class="flex flex-col gap-1 lg:p-6 p-4 bg-neutral4 dark:bg-primary-2">
                    <span class="text-accent2 text-base font-normal">
                        2018 - 2020
                    </span>
                    <span class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium">
                        Junior Graphic Designer
                    </span>
                    <span class="text-neutral12 dark:text-neutral3 text-base font-normal">
                        Larsen & Toubro
                    </span>
                </div>
            </div>
            <div class="w-full flex flex-col lg:gap-6 gap-4">
                <h2 class="text-dark dark:text-light">
                    My Education
                </h2>
                <div class="flex flex-col gap-1 lg:p-6 p-4 bg-neutral4 dark:bg-primary-2">
                    <span class="text-accent2 text-base font-normal">
                        2004 - 2007
                    </span>
                    <span class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium">
                        Bachelor Degree in Computer.
                    </span>
                    <span class="text-neutral12 dark:text-neutral3 text-base font-normal">
                        University of California
                    </span>
                </div>
                <div class="flex flex-col gap-1 lg:p-6 p-4 bg-neutral4 dark:bg-primary-2">
                    <span class="text-accent2 text-base font-normal">
                        2007 - 2009
                    </span>
                    <span class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium">
                        Master Degree in Web Development
                    </span>
                    <span class="text-neutral12 dark:text-neutral3 text-base font-normal">
                        University of Texas
                    </span>
                </div>
                <div class="flex flex-col gap-1 lg:p-6 p-4 bg-neutral4 dark:bg-primary-2">
                    <span class="text-accent2 text-base font-normal">
                        2016 - 2020
                    </span>
                    <span class="text-dark dark:text-neutral1 text-lg lg:text-xl font-medium">
                        Graphic Design Course
                    </span>
                    <span class="text-neutral12 dark:text-neutral3 text-base font-normal">
                        University of Denmark
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- resume section end -->