<!-- TESTIMONIALS v4 -->
<div class="flex flex-col xl:gap-12 lg:gap-10 md:gap-8 gap-6 xl:mb-30 lg:mb-20 md:mb-15 mb-10" data-aos="fade-up">
    <div>
        <span
            class="xl:px-3 px-2 py-1.5 border-[0.5px] border-dark dark:border-light text-dark dark:text-light rounded-full inline-block xl:mb-3 mb-2">
            TESTIMONIALS
        </span>
        <h2
            class="text-dark dark:text-light lg:mb-4 mb-3 transition-all duration-300 hover:text-stroke-1 text-stroke-dark dark:text-stroke-light hover:text-transparent dark:hover:text-transparent">
            Trusted by Hundred Clients
        </h2>
        <p class="text-base lg:text-xl text-dark dark:text-neutral2 font-thin">
            Emphasizing core skills effectively.
        </p>
    </div>

    <!-- testimonial swiper -->
    <div class="swiper testimonial-swiper-2 w-full">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div
                    class="testimonial-card w-full lg:p-6 p-4 border border-neutral3 dark:border-neutral11 rounded duration-300 hover:border-b-4 hover:border-accent2 dark:hover:border-accent2 overflow-hidden">
                    <div class="flex items-center justify-between gap-3 lg:mb-6 mb-4">
                        <ul class="flex items-center gap-1">
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star-half"></i>
                                </span></li>
                        </ul>
                        <div class="text-5xl text-neutral2 dark:text-neutral11">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                    <p class="text-neutral11 dark:text-neutral3 xl:text-xl lg:text-lg text-base lg:mb-8 mb-6">
                        "The level of professionalism and skill [Your Name] demonstrated exceeded our expectations. They
                        turned our vision into reality with remarkable precision."
                    </p>
                    <div class="flex items-center gap-3">
                        <div class="lg:size-15 md:size-12 size-10 rounded-full overflow-hidden">
                            <img class="w-full" src="assets/images/user-1.webp" alt="user">
                        </div>
                        <div class="">
                            <h5 class="text-dark dark:text-neutral1">Michael Johnson</h5>
                            <span class="text-base text-neutral11 dark:text-neutral1 font-thin">
                                April 25,2024
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div
                    class="testimonial-card w-full lg:p-6 p-4 border border-neutral3 dark:border-neutral11 rounded duration-300 hover:border-b-4 hover:border-accent2 dark:hover:border-accent2 overflow-hidden">
                    <div class="flex items-center gap-3 lg:mb-6 mb-4">
                        <div class="lg:size-15 md:size-12 size-10 rounded-full overflow-hidden">
                            <img class="w-full" src="assets/images/user-2.webp" alt="user">
                        </div>
                        <div class="">
                            <h5 class="text-dark dark:text-neutral1">Emily Brown</h5>
                            <span class="text-base text-neutral11 dark:text-neutral1 font-thin">
                                April 25,2024
                            </span>
                        </div>
                    </div>
                    <p class="text-neutral11 dark:text-neutral3 xl:text-xl lg:text-lg text-base lg:mb-8 mb-6">
                        "I needed a portfolio website, and [Your Name] delivered a stunning design that truly represents
                        my work. Their communication and technical expertise are top-notch."
                    </p>
                    <div class="flex items-center justify-between gap-3">
                        <ul class="flex items-center gap-1">
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star-half"></i>
                                </span></li>
                        </ul>
                        <div class="text-5xl text-neutral2 dark:text-neutral11">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div
                    class="testimonial-card w-full lg:p-6 p-4 border border-neutral3 dark:border-neutral11 rounded duration-300 hover:border-b-4 hover:border-accent2 dark:hover:border-accent2 overflow-hidden">
                    <div class="flex items-center justify-between gap-3 lg:mb-6 mb-4">
                        <ul class="flex items-center gap-1">
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star-half"></i>
                                </span></li>
                        </ul>
                        <div class="text-5xl text-neutral2 dark:text-neutral11">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                    <p class="text-neutral11 dark:text-neutral3 xl:text-xl lg:text-lg text-base lg:mb-8 mb-6">
                        "[Your Name] is a problem-solver with a keen eye for detail. Their work on our company's website
                        significantly improved our online presence and user engagement."
                    </p>
                    <div class="flex items-center gap-3">
                        <div class="lg:size-15 md:size-12 size-10 rounded-full overflow-hidden">
                            <img class="w-full" src="assets/images/user-3.webp" alt="user">
                        </div>
                        <div class="">
                            <h5 class="text-dark dark:text-neutral1">Anna Garcia</h5>
                            <span class="text-base text-neutral11 dark:text-neutral1 font-thin">
                                April 25,2024
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div
                    class="testimonial-card w-full lg:p-6 p-4 border border-neutral3 dark:border-neutral11 rounded duration-300 hover:border-b-4 hover:border-accent2 dark:hover:border-accent2 overflow-hidden">
                    <div class="flex items-center gap-3 lg:mb-6 mb-4">
                        <div class="lg:size-15 md:size-12 size-10 rounded-full overflow-hidden">
                            <img class="w-full" src="assets/images/user-4.webp" alt="user">
                        </div>
                        <div class="">
                            <h5 class="text-dark dark:text-neutral1">Jane Smith</h5>
                            <span class="text-base text-neutral11 dark:text-neutral1 font-thin">April
                                25,
                                2024</span>
                        </div>
                    </div>
                    <p class="text-neutral11 dark:text-neutral3 xl:text-xl lg:text-lg text-base lg:mb-8 mb-6">
                        "I was blown away by [Your Name]'s ability to understand my brand and translate it into a
                        beautiful and functional website. Their work exceeded my expectations."
                    </p>
                    <div class="flex items-center justify-between gap-3">
                        <ul class="flex items-center gap-1">
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star-half"></i>
                                </span></li>
                        </ul>
                        <div class="text-5xl text-neutral2 dark:text-neutral11">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div
                    class="testimonial-card w-full lg:p-6 p-4 border border-neutral3 dark:border-neutral11 rounded duration-300 hover:border-b-4 hover:border-accent2 dark:hover:border-accent2 overflow-hidden">
                    <div class="flex items-center justify-between gap-3 lg:mb-6 mb-4">
                        <ul class="flex items-center gap-1">
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star-half"></i>
                                </span></li>
                        </ul>
                        <div class="text-5xl text-neutral2 dark:text-neutral11">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                    <p class="text-neutral11 dark:text-neutral3 xl:text-xl lg:text-lg text-base lg:mb-8 mb-6">
                        "From the very beginning, [Your Name] understood our requirements and executed the project
                        flawlessly. Their creativity and technical skills are truly impressive."
                    </p>
                    <div class="flex items-center gap-3">
                        <div class="lg:size-15 md:size-12 size-10 rounded-full overflow-hidden">
                            <img class="w-full" src="assets/images/user-1.webp" alt="user">
                        </div>
                        <div class="">
                            <h5 class="text-dark dark:text-neutral1">Chris Miller </h5>
                            <span class="text-base text-neutral11 dark:text-neutral1 font-thin">April
                                25,
                                2024</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div
                    class="testimonial-card w-full lg:p-6 p-4 border border-neutral3 dark:border-neutral11 rounded duration-300 hover:border-b-4 hover:border-accent2 dark:hover:border-accent2 overflow-hidden">
                    <div class="flex items-center gap-3 lg:mb-6 mb-4">
                        <div class="lg:size-15 md:size-12 size-10 rounded-full overflow-hidden">
                            <img class="w-full" src="assets/images/user-2.webp" alt="user">
                        </div>
                        <div class="">
                            <h5 class="text-dark dark:text-neutral1">James Anderson</h5>
                            <span class="text-base text-neutral11 dark:text-neutral1 font-thin">
                                April 25,2024
                            </span>
                        </div>
                    </div>
                    <p class="text-neutral11 dark:text-neutral3 xl:text-xl lg:text-lg text-base lg:mb-8 mb-6">
                        "It's rare to find someone as skilled and dedicated as [Your Name]. Their contributions to our
                        development team were invaluable, and their work ethic is inspiring."
                    </p>
                    <div class="flex items-center justify-between gap-3">
                        <ul class="flex items-center gap-1">
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star"></i>
                                </span></li>
                            <li><span class="flex text-lg lg:text-xl text-accent1">
                                    <i class="ph-fill ph-star-half"></i>
                                </span></li>
                        </ul>
                        <div class="text-5xl text-neutral2 dark:text-neutral11">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>